{{? bet.win == 't1'}}
  {{
    bet.pot = (bet.value * match.t1.cof).toFixed(2);
  }}
  <div class="spc-5 bt mrg-1 bg-dd clear">
    <div class="col-5 bb txt-12 bg-b1">
      <div>{{=bet.value.toFixed(2)}}$</div>
      <div class="txt-yellow brd-sld brd-0 brd-t-1 brd-dd">{{=bet.pot}}$</div>
    </div>
    {{
      temp.textClass = temp.t1High ? 'txt-green' : 'txt-red';
    }}
    <div class="col-2 spc-t-5 {{= temp.textClass}}">
      <i class="fa fa-angle-double-left"></i>
    </div>
    <div class="col-5 spc-5 bb txt-left">
      {{=bet.user}} 
    </div>
  </div>
{{??}}
  {{
    bet.pot = (bet.value * match.t2.cof).toFixed(2);
  }}
  <div class="spc-5 bt mrg-1 bg-dd clear">
    <div class="col-5 txt-right spc-5 bb">
      {{=bet.user}}
    </div>
    {{
      temp.textClass = temp.t1High ? 'txt-red' : 'txt-green';
    }}
    <div class="col-2 {{= temp.textClass}} spc-t-5">
      <i class="fa fa-angle-double-right"></i>
    </div>
    <div class="col-5 bb txt-12 bg-b2">
      <div>{{=bet.value.toFixed(2)}}$</div>
      <div class="txt-yellow brd-sld brd-0 brd-t-1 brd-dd">{{=bet.pot}}$</div>
    </div>
  </div>
  
{{?}}

