<div class="bg-b1 spc-10 clear brd-0 brd-dd brd-b-5 brd-sld mrg-1 txt-18">
  <div class="txt-12">
    hover to preview bets
  </div>
  <div class="col-5 txt-left">
    {{? temp.t1Bets}}
      {{
        temp.textClass = temp.t1High ? 'txt-green' : 'txt-red';
      }}
      <div class="brd-b2 brd-sld brd-0 brd-b-1 txt-20 {{=temp.textClass}}">
        <i class="fa fa-meh-o font-12 spc-l-10"></i>
        {{=temp.t1Bets}}
      </div>
      <div class="brd-b2 brd-sld brd-0 brd-b-1">
        <i class="fa fa-gift font-12 spc-l-10"></i>
        {{=temp.t1Value.toFixed(2)}}$
      </div>
      <div class="txt-yellow">
        <i class="fa fa-trophy font-12 spc-l-10"></i>
        {{=(temp.t1Value*match.t1.cof).toFixed(2)}}$
      </div>
    {{??}}
      no bets placed
    {{?}}
  </div>
  <div class="col-2">
    <i class="fa fa-bar-chart font-12 spc-r-10"></i>
  </div>
  <div class="col-5 txt-right">
    {{? temp.t2Bets}}
      {{
        temp.textClass = temp.t1High ? 'txt-red' : 'txt-green';
      }}
      <div class="brd-b2 brd-sld brd-0 brd-b-1 txt-20 {{=temp.textClass}}">
        {{=temp.t2Bets}}
        <i class="fa fa-meh-o font-12 spc-r-10"></i>
      </div>
      
      <div class="brd-b2 brd-sld brd-0 brd-b-1">
        ${{=temp.t2Value.toFixed(2)}}
        <i class="fa fa-gift font-12 spc-r-10"></i>
      </div>
      <div class="txt-yellow">
        ${{=(temp.t2Value*match.t2.cof).toFixed(2)}}
        <i class="fa fa-trophy font-12 spc-r-10"></i>
      </div>
    {{??}}
      no bets placed
    {{?}}
  </div>
</div>