<div class="clear spc-b-5">
  <section class="col-5">
    <a href="{{=it.routes.team}}{{=match.t1.name}}">
      <h3>
        {{=match.t1.name}}
      </h3>
    </a>
  </section>
  <div class="col-2 bb spc-t-5 txt-bold txt-up">
    vs
  </div>
  <section class="col-5">
    <a href="{{=it.routes.team}}{{=match.t2.name}}">
      <h3>
        {{=match.t2.name}}
      </h3>
    </a>
  </section>
</div>