@import "variable";
@import "main";


$bg-head-img : 'http://i5.minus.com/iCEr5orUtxPFA.png';
$bg-bg-img : 'http://subtlepatterns.com/patterns/dark_wall.png';
$bg-article-img : 'http://subtlepatterns.com/patterns/stardust.png';
$bg-article-img2 : 'http://subtlepatterns.com/patterns/asfalt.png';
$bg-article-img3 : 'http://subtlepatterns.com/patterns/binding_dark.png';

body{
  @extend .spc-0;
  @extend .mrg-0;
  @extend .txt-20;
  @extend .bg-d;
}

header{
  &.main{
    @extend .txt-center;
    @extend .brd-0;
    @extend .font-m;
    @extend .txt-w;
    @extend .mrg-5;
    @extend .spc-0;
    background-image: url($bg-head-img);
    background-size: 100%;
    overflow: hidden;
  }
  .grd{
    @extend .spc-15;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.8) 100%);
  }
  h2{
    @extend .brd-sld;
    @extend .brd-1;
    @extend .bt;
    @extend .inline;
    span {
      @extend .txt-12;
      @extend .bg-w;
      @extend .txt-b;
      @extend .spc-l-10;
      @extend .spc-r-10;
    }
  }
  p{
    @extend .txt-up;
  }
  li{
    @extend .txt-up;
    @extend .txt-16;
    @extend .clear;
    @extend .op-8;
    @extend .left;
    @extend .bg-w;
    @extend .spc-5;
    @extend .spc-l-15;
    @extend .spc-r-15;
    @extend .txt-b;
    @extend .mrg-1;
    @extend .bt;
  }
}

footer{
  @extend .txt-right;
  @extend .spc-10;
  @extend .font-m;
  @extend .txt-w;
  a{
    @extend .txt-up;
  }
}

.main{
  @extend .brd-0;
  @extend .brd-t-1;
  @extend .brd-b-1;
  @extend .brd-sld;
  @extend .brd-dd;
  @extend .clear;
  @extend .txt-w;
  @extend .txt-center;
  @extend .spc-10;
  background-image: url($bg-bg-img);
}

main{
  @extend .spc-l-10;
  @extend .spc-r-10;
  @extend .font-m;
  @extend .bb;
  article{
    /*background-image: url($bg-article-img);*/
    @extend .bt;
    @extend .clear;
    @extend .bb;
    @extend .bg-b1;
    @extend .brd-dd;
    @extend .brd-5;
    @extend .brd-sld;
    @extend .op-9;
    @extend .spc-10;
    @extend .mrg-1;
    p{
      @extend .mrg-0;
      @extend .spc-0;
    }
    section{
      @extend .bb;
      @extend .col-6;
      img{
        max-width : 80px;
        @extend .bb;
        @extend .bt;
        @extend .bg-d;
        @extend .brd-dd;
        @extend .brd-1;
        @extend .brd-sld;
        @extend .spc-10;
        @extend .w-max;
      }
      h3{
        @extend .bt;
        @extend .mrg-0;
      }
      h4{
        @extend .bb;
        @extend .txt-12;
        @extend .mrg-0;
        @extend .spc-2;
      }
    }
  }
}

aside, main{
  @extend .font-m;
  @extend .bb;
  @extend .col-2;
  @extend .op-8;
  @extend .txt-16;
  header{
    @extend .bt;
    @extend .brd-sld;
    @extend .brd-dd;
    @extend .brd-5;
    @extend .mrg-1;
    @extend .bg-b1;
    @extend .txt-w;
  }
  h3{
    @extend .spc-5;
    @extend .spc-b-0;
    @extend .mrg-0;
  }
  p{
    @extend .spc-5;
    @extend .spc-t-0;
  }
  li{
    @extend .spc-5;
    @extend .mrg-1;
    @extend .bt;
    @extend .txt-left;
    @extend .bg-dd;
  }
}


h2{
  @extend .txt-norm;
  @extend .txt-cap;
  @extend .mrg-0;
  @extend .spc-t-5;
  @extend .spc-b-5;
  @extend .spc-l-25;
  @extend .spc-r-25;
  @extend .txt-40;
}

p{
  font-size:65%;
  @extend .mrg-0;
  @extend .spc-3;
}

a{
  @extend .txt-w;
  @extend .txt-simple;
}

.bt:hover{
  @extend .bg-d;
  @extend .txt-l;
  @extend .op-8;
}