<aside>
  <table class="w-max">
    <tr class="bg-dark1 txt-up">
      {{~ it.keys :key}}
        <th class="spc-5 brd-sld brd-dark3">
          {{=key}}
        </th>
      {{~}}
    </tr>
    {{~ it.users :user}}
      <tr>
        {{~ it.keys :key}}
          <td class="spc-5 bg-dark3">
            {{? user[key]}}
              {{? typeof user[key] == 'object'}}
                {{? user[key] instanceof Array}}
                  {{? typeof user[key][0] == 'string'}}
                    {{~ user[key] :s}}
                      {{=s}}
                    {{~}}
                  {{??}}
                    Array
                  {{?}}
                {{?? user[key].toString() != '[object Object]'}}
                  {{=user[key].toString()}}
                {{?? JSON.stringify(user[key])}}
                  <div class="aHover" aData="a:show.inside">
                    <div class="show">Object</div>
                    <div class="hide bg-dark1 brd-sld brd-dark4 txt-w absolute spc-10" style="max-width:300px;word-wrap: break-word;">
                      {{=JSON.stringify(user[key])}}
                    </div>
                  </div>
                {{??}}  
                  Object
                {{?}}
              {{?? typeof user[key] == 'string' || typeof user[key] == 'number' || typeof user[key] == 'integer'}}
                {{? key == 'steamId'}}
                  <a target="_blank" class="bt" href="http://steamcommunity.com/profiles/{{=user[key]}}">{{=user[key]}}</a>
                {{??}}
                  {{=user[key]}}
                {{?}}
              {{?? typeof user[key] == 'boolean'}}
                {{? user[key] === true}}
                  <i class="fa fa-thumbs-up"></i>
                {{??}}
                  <i class="fa fa-thumbs-down"></i>
                {{?}}
              {{?}}
            {{??}}
              <i class="fa fa-times"></i
            {{?}}
          </td>
        {{~}}
      </tr>
    {{~}}
  </table>
</aside>