
aside, .ladder{
  @extend .op-8;
  @extend .txt-16;
  header{
    @extend .header;
    p{
      @extend .spc-b-5;
    }
  }
  li{
    @extend .txt-center;
    @extend .spc-5;
    @extend .mrg-1;
    @extend .bg-dark3;
    @extend .bt;
  }
  p{
    @extend .spc-0;
    @extend .spc-t-0;
  }
  h3{
    @extend .spc-5;
    @extend .spc-b-0;
    @extend .mrg-0;
  }
  article{
    @extend .mrg-b-1;
    @extend .brd-dark1;
    @extend .brd-5;
    @extend .brd-sld;
    img{
      @extend .w-max;
      max-width : 40px;
      @extend .bg-dark1;
      @extend .brd-dark2;
      @extend .brd-1;
      @extend .brd-sld;
      @extend .spc-3;
    }
    h3{
      @extend .txt-14;
    }
  }
  .procentige{
    @extend .spc-r-20;
    @extend .spc-l-20;
    @extend .spc-t-5;
    section{
      @extend .brd-dark1;
      @extend .bg-dark2;
      @extend .brd-sld;
      @extend .brd-1;
    }
  }
}