main{
  @extend .spc-l-10;
  @extend .spc-r-10;
  @extend .font-m;
  @extend .bb;
  article{
    /*background-image: url($bg-article-img);*/
    @extend .clear;
    @extend .bb;
    @extend .bg-b1;
    @extend .brd-dd;
    @extend .brd-5;
    @extend .brd-sld;
    @extend .op-9;
    @extend .spc-10;
    @extend .mrg-1;
    h3{
      @extend .mrg-0;
      @extend .spc-5;
      @extend .spc-b-0;
    }
    p{
      @extend .mrg-0;
      @extend .spc-0;
    }
    section{
      @extend .bb;
      @extend .col-6;
      img{
        max-width : 80px;
        @extend .bb;
        @extend .bt;
        @extend .bg-d;
        @extend .brd-dd;
        @extend .brd-1;
        @extend .brd-sld;
        @extend .spc-10;
        @extend .w-max;
      }
      h3{
        @extend .mrg-0;
        @extend .spc-0;
      }
      h4{
        @extend .bb;
        @extend .txt-12;
        @extend .mrg-0;
        @extend .spc-2;
      }
    }
  }
}