{{ it.profile && it.profile.user && bet.user == it.profile.user 
      ? temp.bgClass = 'bg-dark2 brd-sld brd-0 brd-t-1 brd-dark3'
      : temp.bgClass = false;
}}

{{? bet.win == 't1'}}
  {{
    bet.pot = (bet.value * match.t1.cof).toFixed(2);
  }}
  <a href="{{=it.routes.user}}{{=bet.user}}">
    <div class="spc-10 bt mrg-1 {{= temp && temp.bgClass ? temp.bgClass : 'bg-dark3'}} clear">
      <div class="col-5 clear txt-14 spc-t-3">
        <div class="col-6 txt-right">
          <span class="bg-dark1 txt-w spc-l-10 spc-r-10">{{=bet.value.toFixed(2)}}$</span>
        </div>
        <div class="col-6 txt-left">
          <span class="bg-yellow op-7 txt-b spc-l-10 spc-r-10">{{=bet.pot}}$</span>
        </div>
      </div>
      {{
        temp.textClass = temp.t1High ? 'txt-green' : 'txt-red';
      }}
      <div class="col-2 {{= temp.textClass}}">
        <i class="fa fa-angle-double-left"></i>
      </div>
      <div class="col-5 txt-left">
        {{=bet.user}}
        {{? bet.user == "Etas"}}
          <i class="fa fa-exclamation-triangle"></i>
        {{?}}
      </div>
    </div>
  </a>
{{??}}
  {{
    bet.pot = (bet.value * match.t2.cof).toFixed(2);
  }}
  <a href="{{=it.routes.user}}{{=bet.user}}">
    <div class="spc-10 bt mrg-1 {{= temp && temp.bgClass ? temp.bgClass : 'bg-dark3'}} clear">
      <div class="col-5 txt-right">
        {{=bet.user}}
        {{? bet.user == "Etas"}}
          <i class="fa fa-exclamation-triangle"></i>
        {{?}}
      </div>
      {{
        temp.textClass = temp.t1High ? 'txt-red' : 'txt-green';
      }}
      <div class="col-2 {{= temp.textClass}}">
        <i class="fa fa-angle-double-right"></i>
      </div>
      <div class="col-5 clear txt-14 spc-t-3">
        <div class="col-6 txt-right">
          <span class="bg-yellow op-7 txt-b spc-l-10 spc-r-10">{{=bet.pot}}$</span>
        </div>
        <div class="col-6 txt-left">
          <span class="bg-dark1 txt-w spc-l-10 spc-r-10">{{=bet.value.toFixed(2)}}$</span>
        </div>
      </div>
    </div>
  </a>
{{?}}

