{{? match.stream.indexOf('twitch')!=-1 && !it.stream}}
  <object type="application/x-shockwave-flash" height="360" width="100%" data="{{=match.stream}}" bgcolor="#000000">
    <param name="allowFullScreen" value="true">
    <param name="allowScriptAccess" value="always">
    <param name="allowNetworking" value="all">
    <param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf">
    <param name="flashvars" value="hostname={{=match.stream}}&auto_play=true&start_volume=25">
  </object>
{{??}}
  <iframe frameborder=0 style="min-height:360px;" class="w-max" src="{{=match.stream}}"></iframe>
{{?}}