{{? typeof match.maps != 'string'}}
  <div class="clear">
    <div class="col-1 spc-1"></div>
    
    <div class="spc-b-10 txt-14 col-10">
      <div class="clear txt-up txt-bold brd-sld brd-dark3 spc-t-5 spc-b-5">
        <div class="col-1">t</div>
        <div class="col-1">ct</div>
        <div class="col-3">score</div>
        <div class="col-2">map</div>
        <div class="col-3">score</div>
        <div class="col-1">ct</div>
        <div class="col-1">t</div>
      </div>
      <div>
        {{~ match.maps :map}}
          <div class="clear brd-sld brd-0 brd-b-1 brd-dark3 spc-1">
            <div class="col-1 spc-l-5">{{=map.score.t1 && map.score.t1.t ? map.score.t1.t : '-'}}</div>
            <div class="col-1">{{=map.score.t1 && map.score.t1.ct ? map.score.t1.ct : '-'}}</div>
            {{
              var temp = temp || {};
              temp.txtClr = map.score.t1 && map.score.t1.score > 15 && map.score.t1.score>map.score.t2.score ? 'txt-green' : '';
            }}
            <div class="col-3 {{=temp.txtClr}}">{{=map.score.t1 ? map.score.t1.score : '-'}}</div>
            <div class="bb col-2 txt-16">
              {{=map.name}}
            </div>
            {{
              var temp = temp || {};
              temp.txtClr = map.score.t2 && map.score.t2.score > 15 && map.score.t2.score>map.score.t1.score ? 'txt-green' : '';
            }}
            <div class="col-3 {{=temp.txtClr}}">{{=map.score.t2 ? map.score.t2.score : '-'}}</div>
            <div class="col-1">{{=map.score.t2 && map.score.t2.ct? map.score.t2.ct : '-'}}</div>
            <div class="col-1 spc-r-5">{{=map.score.t2 && map.score.t2.t? map.score.t2.t : '-'}}</div>
          </div>
        {{~}}
      </div>
    </div>
    
    <div class="col-1 spc-1"></div>
  </div>
{{??}}
  <div class="spc-l-10 txt-12 spc-r-10 bg-dark3 inline">{{=match.maps}}</div>
{{?}}