<div ng-repeat="(key, match) in matches | filter:query | orderBy:sortField:reverse">
  <a href="/m/{{match.matchId}}/{{match.t1.name}}.vs.{{match.t2.name}}.{{match.date}}">
    <li class="clear">
      <div class="op-8">
        <div class="col-1 spc-l-5 txt-left">
          <i class="fa spc-l-5 spc-r-5" ng-class="match.result ? match.result==-1  ? 'fa-times' : 'fa-check' : 'fa-minus'"></i>
        </div>
        
        <div class="col-2 txt-right">
          <div ng-class="match.winner ? match.winner == 't1' ? 'txt-green' : 'txt-red' : '';">
            <span class="txt-12">{{match.t1.rate}}</span>
            {{match.t1.name}}
          </div>
        </div>
        
        <div class="col-1 txt-14">
          vs
        </div>
        
        <div class="col-2 txt-left">
          <div ng-class="match.winner ? match.winner == 't2' ? 'txt-green' : 'txt-red' : '';">
            {{match.t2.name}}
            <span class="txt-12">{{match.t2.rate}}</span>
          </div>
        </div>
        
        <div class="col-1 txt-right">
          {{match.value}} $
        </div>
        
        <div class="col-1">
          <i class="fa fa-angle-right txt-dark1"></i>
        </div>
        
        <div class="col-1 txt-left" ng-class="match.result ? match.result == -1 ? 'txt-red' : 'txt-green' : ''">
          {{ match.balance ? match.balance+' $' : '-'}} <span class="hide txt-b">{{match.date}}</span>
        </div>
        
        <div class="col-3">
          <div class="right spc-r-5" ng-repeat="item in match.items">
            <img ng-src="{{item.img}}" class="bg-dark1 block left" height="21" title="{{item.value}}$">
          </div>
        </div>
      </div>
      
    </li>
  </a>
  
  <div ng-if="match.date != matches[key-1].date && dateShow" class="bg-dark2 txt-12 txt-right spc-r-20">
    {{match.date}}
  </div>
  
</div>