
  <div class="op-8">
    {{
      temp.bet       = match.bets ? match.bets[0] : {};
      temp.win       = match.winner ? match.winner ==  temp.bet.win ? 'win' : 'lose' : 'tide';
      temp.iconClass = match.winner ? temp.win == 'win' ? 'fa-check' : 'fa-times' : 'fa-close';
      temp.clrClass  = match.winner ? temp.win == 'win' ? 'green' : 'red' : 'w';
      temp.pot       = match.winner ? temp.win == 'win' ? temp.bet.pot+'$' : '-'+temp.bet.value.toFixed(2)+'$' : '*';
    }}
    
    <div class="col-1 spc-l-5 txt-left">
      <i class="fa {{=temp.iconClass}} spc-l-5 spc-r-5"></i>
    </div>
    
    <div class="col-2 txt-right">
      <div class="{{= match.winner == 't1' ? 'txt-green' : match.winner == 't2' ? 'txt-red' : ''}}">
        <span class="txt-12">{{=match.t1.rate}}</span>
        {{=match.t1.name}}
      </div>
    </div>
    
    <div class="col-1 txt-14">
      vs
    </div>
    
    <div class="col-2 txt-left">
      <div class="{{= match.winner == 't2' ? 'txt-green' : match.winner == 't1' ? 'txt-red' : ''}}">
        {{=match.t2.name}}
        <span class="txt-12">{{=match.t2.rate}}</span>
      </div>
    </div>
    
    <div class="col-1 txt-right">
      {{=temp.bet.value.toFixed(2)}}$
    </div>
    
    <div class="col-1">
      <i class="fa fa-angle-right txt-dark1"></i>
    </div>
    
    <div class="col-1 txt-left txt-{{=temp.clrClass}}">
      {{=temp.pot}}
    </div>
    
    
    <div class="col-3">
      {{~temp.bet.items :item}}
        <div class="right spc-r-5">
          <img src="{{=item.img}}" class="bg-dark1 block left" height="21" title="{{=item.value}}$">
        </div>
      {{~}}
    </div>
  </div>