<div id="ladder" class="ladder show">
  <ul>
    <header class="clear spc-5 txt-up txt-bold">
      <div class="col-3 txt-left spc-3">
        name
      </div>
      <div class="col-1 spc-3">
        last
      </div>
      <div class="col-1 spc-3">
        win
      </div>
      <div class="col-2 spc-3">
        value
      </div>
      <div class="col-1 spc-3">
        lose
      </div>
      <div class="col-2 spc-3">
        amount
      </div>
      <div class="col-1 spc-3">
        winrate
      </div>
      <div class="col-1 txt-right spc-3">
        total
      </div>
    </header>
    {{~it.users :user}}
      {{?user.stats && user.stats.balance}}
        {{
          var temp = {};
          temp.balance = user.stats.balance.toFixed(2);
          temp.last = user.stats.last;
          temp.value = user.stats.value.toFixed(2);
        }}
        <a href="{{=it.routes.user}}{{=user.name}}">
          <li class="clear spc-l-10">
            <div class="col-3 txt-left spc-l-10">
              {{=user.name}}
            </div>
            {{
              temp.colorClass = temp.last > 0 ? 'txt-green' : 'txt-red';
            }}
            <div class="col-1 {{= temp.colorClass}} txt-14">
              {{=temp.last}}$
            </div>
            <div class="col-1 txt-green txt-14">
              {{=user.stats.win.toFixed(2)}}$
            </div>
            <div class="col-2 txt-14">
              {{=temp.value}}$
            </div>
            <div class="col-1 txt-red txt-14">
              {{=user.stats.loss.toFixed(2)}}$
            </div>
            <div class="col-2 txt-14">
              {{=user.stats.count}}
              (<span class="txt-green">{{=user.stats.countW}}</span> / 
              <span class="txt-red">{{=user.stats.countL}}</span>)
            </div>
            {{
              temp.colorClass = temp.balance > 0 ? 'txt-green' : 'txt-red';
            }}
            <div class="col-1">
                {{=(user.stats.countW/(user.stats.countW+user.stats.countL)*100).toFixed(2)}}%
            </div>
            <div class="col-1 txt-right right spc-r-10 {{= temp.colorClass}}">
              {{=temp.balance}}$
            </div>
          </li>
        </a>
      {{?}}
    {{~}}
  </ul>
</div>