{{
  var temp = {};
  temp.bet          = match.bets ? match.bets[0] : {win : 't1', value : 2.00};
  temp.left         = match.startMs-it.app.ms;
  temp.colorClass   = temp.left>0 ? 'txt-yellow' : 'txt-live';
  temp.cof = match.bets[0].win == 't1' 
    ? parseInt(match.t2.rate) / parseInt(match.t1.rate) 
    : parseInt(match.t1.rate) / parseInt(match.t2.rate);
}}

  <div class="col-1 txt-left spc-l-5 txt-14 time-left {{=temp.colorClass}}">
    {{=temp.left}}
  </div>
  
  <div class="col-2 txt-right">
    <div class="">
      <span class="txt-12">{{=match.t1.rate}}</span>
      {{=match.t1.name}}
    </div>
  </div>
  
  <div class="col-1 txt-14">
    vs
  </div>
  
  <div class="col-2 txt-left">
    <div class="">
      {{=match.t2.name}}
      <span class="txt-12">{{=match.t2.rate}}</span>
    </div>
  </div>
  
  <div class="col-1">
    {{=temp.bet.win}}
    ({{=match[temp.bet.win].name}})
  </div>
  
  <div class="col-1 txt-right">
    {{=temp.bet.value.toFixed(2)}}$
  </div>
  
  <div class="col-1">
    <i class="fa fa-angle-right txt-dark1"></i>
  </div>
  
  <div class="col-1 txt-yellow txt-left text-up">
    {{=(temp.bet.value*temp.cof).toFixed(2)}}$  
  </div>
  
  <div class="col-2">
    {{~temp.bet.items :item}}
      <div class="right spc-r-5">
        <img src="{{=item.img}}" class="bg-dark1 block left" height="21" title="{{=item.value}}$">
      </div>
    {{~}}
  </div>