@mixin mx_set($val, $nm, $prp : color, $unit : px, $type : class){
  @if $type == class{
    $type : '.';
  } @else if $type == hold{
    $type : '%';
  } @else if $type == id{
    $type : '#';
  } @else if $type == classHold{
    $type : '%';
    @if(type_of($val) == number){
      #{$type}#{$nm}-#{$val}{
        #{$prp} : #{$val}#{$unit};
      }
    } @else if(type_of($val) == list) {
      #{$type}#{$nm}-#{nth($val, 1)}{
        #{$prp} : #{nth($val, 2)}#{$unit};
      }
    }
    $type : '.';
  }
  
  @if(type_of($val) == number){
    #{$type}#{$nm}-#{$val}{
      #{$prp} : #{$val}#{$unit};
    }
  } @else if(type_of($val) == list) {
    #{$type}#{$nm}-#{nth($val, 1)}{
      #{$prp} : #{nth($val, 2)}#{$unit};
    }
  }
}

@mixin mx_loop($arr, $n, $prp : color, $unit : px, $type : class){
  @each $val in $arr {
    @include mx_set($val, $n, $prp, $unit, $type);
  }
}

@mixin mx_grid($num, $name : col, $unit : '%'){
  @for $i from 1 through $num {
    $p : (100/$num)*$i;
    .#{$name}-#{$i} {
      width : #{$p}#{$unit};
      float : left;
    }
  }
}

@mixin mx_col($lg, $md : 12, $sm : 12, $xs : 12, $num : 12, $unit : '%'){
  $p : (100/$num)*$lg;
  .col-#{$lg}-#{$md}-#{$sm}-#{$xs}{
    width : #{$p}#{$unit};
    float : left;
  }
  $p : (100/$num)*$md;
  @media all and (max-width: 1000px){
    .col-#{$lg}-#{$md}-#{$sm}-#{$xs}{
      width : #{$p}#{$unit};
      float : left;
    }
  }
  $p : (100/$num)*$sm;
  @media all and (max-width: 800px){
    .col-#{$lg}-#{$md}-#{$sm}-#{$xs}{
      width : #{$p}#{$unit};
      float : left;
    }
  }
  $p : (100/$num)*$xs;
  @media all and (max-width: 600px){
    .col-#{$lg}-#{$md}-#{$sm}-#{$xs}{
      width : #{$p}#{$unit};
      float : left;
    }
  }
}

@mixin mx_opacity($num, $name : op){
  @for $i from 1 through $num {
    $p : (1/$num)*$i;
    .#{$name}-#{$i} {
      opacity : #{$p};
    }
  }
}



