//gird rules
@include mx_grid(12);
@include mx_col(3,4,5,12);
@include mx_col(6,8,7,12);


@media all and (max-width: 1000px){
  .show-md{display:block;}
  .hide-md{display:none;}
}

@media all and (max-width: 800px){
  .show-sm{display:block;}
  .hide-md{display:none;}
  .hide-sm{display:none;}
}

@media all and (max-width: 600px){
  .show-sm{display:block;}
  .hide-md{display:none;}
  .hide-sm{display:none;}
  .hide-xs{display:none;}
}