@import "fn.scss";
@import "var.scss";
@import "grid.scss";

@import url(http://fonts.googleapis.com/css?family=Oswald:300);
@import url(http://fonts.googleapis.com/css?family=Abel);

//padding and margin crap
$spc : (0,1,2,3,4,5,10,15,20,25,30,50);

//brd crap
$brd-width : (0,1,2,3,4,5,10,15,20);
$brd-style : (dot dotted, sld solid);

//font crap
$f-size : (10,12,14,16,18,20,24,30,40);

//color crap
$clr : (
  main #FFFFFF,
  second #000000,
  b #000000,
  w #ffffff,
  l #f3f4f2,
  d #0a0a0a,
  dd #303030,
  red #ff6867,
  green #8CD199,
  orange #ff8a00,
  live #86c348,
  yellow #CFD46E,
  b1 #1B1B1B,
  b2 #232323,
  dark1 #1B1B1B,
  dark2 #232323,
  dark3 #303030,
  dark4 #474646
);

//dimensions crap
$dim : (w-max 1200, w-min 500);

//positioning rules
.center{margin: 0 auto;}
.left{float: left;}
.right{float: right;}

.inline{display: inline-block;}
.block{display: block;}
.hide{display:none;}
.hidden{display:none;}
.clear{overflow:hidden;}

.fixed{position:fixed;}
.absolute{position:absolute;}
.relative{position:absolute;}
.a-t{top:0px;}
.a-r{right:0px;}
.a-b{bottom:0px;}
.a-l{left:0px;}
.w-max{width:100%;}
.page{
  width:100%;
  max-width:1000px;
  @extend .center;
}

//element rules
ul{
  list-style-type: none;
  list-style: none;
  @extend .mrg-0;
  @extend .spc-0;
}

//opacity
@include mx_opacity(10);

//colors
@include mx_loop($clr, brd, border-color, '');
@include mx_loop($clr, txt, color, '');
@include mx_loop($clr, bg, background-color, '');

//borders generated rules classes
.bb{box-sizing: border-box;}

@include mx_loop($brd-style, brd, border-style, '');
@include mx_loop($brd-width, brd, border-width);

@include mx_loop($brd-width, brd-t, border-top-width);
@include mx_loop($brd-width, brd-r, border-right-width);
@include mx_loop($brd-width, brd-b, border-bottom-width);
@include mx_loop($brd-width, brd-l, border-left-width);

//spacing margin padding rules classes
@include mx_loop($spc, spc, padding, px);
@include mx_loop($spc, spc-t, padding-top, px);
@include mx_loop($spc, spc-r, padding-right, px);
@include mx_loop($spc, spc-b, padding-bottom, px);
@include mx_loop($spc, spc-l, padding-left, px);

@include mx_loop($spc, mrg, margin, px);
@include mx_loop($spc, mrg-t, margin-top, px);
@include mx_loop($spc, mrg-r, margin-right, px);
@include mx_loop($spc, mrg-b, margin-bottom, px);
@include mx_loop($spc, mrg-l, margin-left, px);
//spacing margin padding rules holders

@include mx_loop($f-size, txt, font-size);
//text size and other things
.txt-center {text-align:center;}
.txt-left {text-align:left;}
.txt-right {text-align:right;}

.txt-up {text-transform: uppercase;}
.txt-cap {text-transform: capitalize;}
.txt-simple{text-decoration: none;}

.txt-bold {font-weight: bold;}
.txt-norm {font-weight: normal;}

.font-m {font-family: 'Abel', Arial;}
.font-s {font-family: 'Oswald', Arial;}

.bt:hover{
  @extend .bg-main;
  @extend .txt-second;
  @extend .op-8;
  cursor: pointer;
}

.bt-i:hover{
  @extend .bg-second;
  @extend .txt-main;
  @extend .op-8;
  cursor: pointer;
}

.active{
  @extend .bg-dark4;
}