@import url(http://fonts.googleapis.com/css?family=Oswald:300);
@import url(http://fonts.googleapis.com/css?family=Abel);
.center {
  margin: 0 auto; }

.left, header li {
  float: left; }

.right {
  float: right; }

.inline, header h2 {
  display: inline-block; }

.block {
  display: block; }

.hide {
  display: none; }

.clear, header li, .main, main article {
  overflow: hidden; }

.fixed {
  position: fixed; }

.absolute {
  position: absolute; }

.relative {
  position: absolute; }

.a-t {
  top: 0px; }

.a-r {
  right: 0px; }

.a-b {
  bottom: 0px; }

.a-l {
  left: 0px; }

.w-max, main article section img {
  width: 100%; }

ul {
  list-style-type: none;
  list-style: none; }

.col-1 {
  width: 8.33333%;
  float: left; }

.col-2, aside, main {
  width: 16.66667%;
  float: left; }

.col-3 {
  width: 25%;
  float: left; }

.col-4 {
  width: 33.33333%;
  float: left; }

.col-5 {
  width: 41.66667%;
  float: left; }

.col-6, main article section {
  width: 50%;
  float: left; }

.col-7 {
  width: 58.33333%;
  float: left; }

.col-8 {
  width: 66.66667%;
  float: left; }

.col-9 {
  width: 75%;
  float: left; }

.col-10 {
  width: 83.33333%;
  float: left; }

.col-11 {
  width: 91.66667%;
  float: left; }

.col-12 {
  width: 100%;
  float: left; }

.op-1 {
  opacity: 0.1; }

.op-2 {
  opacity: 0.2; }

.op-3 {
  opacity: 0.3; }

.op-4 {
  opacity: 0.4; }

.op-5 {
  opacity: 0.5; }

.op-6 {
  opacity: 0.6; }

.op-7 {
  opacity: 0.7; }

.op-8, header li, aside, main, .bt:hover, header h2:hover, header li:hover, main article:hover, main article section img:hover, main article section h3:hover, aside header:hover, main header:hover, aside li:hover, main li:hover {
  opacity: 0.8; }

.op-9, main article {
  opacity: 0.9; }

.op-10 {
  opacity: 1; }

.brd-b {
  border-color: #000000; }

.brd-w {
  border-color: #ffffff; }

.brd-l {
  border-color: #f3f4f2; }

.brd-d {
  border-color: #0a0a0a; }

.brd-dd, .main, main article, main article section img, aside header, main header {
  border-color: #303030; }

.brd-red {
  border-color: #ff6867; }

.brd-green {
  border-color: #8CD199; }

.brd-yellow {
  border-color: #CFD46E; }

.brd-b1 {
  border-color: #1B1B1B; }

.brd-b2 {
  border-color: #232323; }

.txt-b, header h2 span, header li {
  color: #000000; }

.txt-w, header.main, footer, .main, aside header, main header, a {
  color: #ffffff; }

.txt-l, .bt:hover, header h2:hover, header li:hover, main article:hover, main article section img:hover, main article section h3:hover, aside header:hover, main header:hover, aside li:hover, main li:hover {
  color: #f3f4f2; }

.txt-d {
  color: #0a0a0a; }

.txt-dd {
  color: #303030; }

.txt-red {
  color: #ff6867; }

.txt-green {
  color: #8CD199; }

.txt-yellow {
  color: #CFD46E; }

.txt-b1 {
  color: #1B1B1B; }

.txt-b2 {
  color: #232323; }

.bg-b {
  background-color: #000000; }

.bg-w, header h2 span, header li {
  background-color: #ffffff; }

.bg-l {
  background-color: #f3f4f2; }

.bg-d, body, main article section img, .bt:hover, header h2:hover, header li:hover, main article:hover, main article section img:hover, main article section h3:hover, aside header:hover, main header:hover, aside li:hover, main li:hover {
  background-color: #0a0a0a; }

.bg-dd, aside li, main li {
  background-color: #303030; }

.bg-red {
  background-color: #ff6867; }

.bg-green {
  background-color: #8CD199; }

.bg-yellow {
  background-color: #CFD46E; }

.bg-b1, main article, aside header, main header {
  background-color: #1B1B1B; }

.bg-b2 {
  background-color: #232323; }

.bb, main, main article, main article section, main article section img, main article section h4, aside {
  box-sizing: border-box; }

.brd-dot {
  border-style: dotted; }

.brd-sld, header h2, .main, main article, main article section img, aside header, main header {
  border-style: solid; }

.brd-0, header.main, .main {
  border-width: 0px; }

.brd-1, header h2, main article section img {
  border-width: 1px; }

.brd-2 {
  border-width: 2px; }

.brd-3 {
  border-width: 3px; }

.brd-4 {
  border-width: 4px; }

.brd-5, main article, aside header, main header {
  border-width: 5px; }

.brd-10 {
  border-width: 10px; }

.brd-15 {
  border-width: 15px; }

.brd-20 {
  border-width: 20px; }

.brd-t-0 {
  border-top-width: 0px; }

.brd-t-1, .main {
  border-top-width: 1px; }

.brd-t-2 {
  border-top-width: 2px; }

.brd-t-3 {
  border-top-width: 3px; }

.brd-t-4 {
  border-top-width: 4px; }

.brd-t-5 {
  border-top-width: 5px; }

.brd-t-10 {
  border-top-width: 10px; }

.brd-t-15 {
  border-top-width: 15px; }

.brd-t-20 {
  border-top-width: 20px; }

.brd-r-0 {
  border-right-width: 0px; }

.brd-r-1 {
  border-right-width: 1px; }

.brd-r-2 {
  border-right-width: 2px; }

.brd-r-3 {
  border-right-width: 3px; }

.brd-r-4 {
  border-right-width: 4px; }

.brd-r-5 {
  border-right-width: 5px; }

.brd-r-10 {
  border-right-width: 10px; }

.brd-r-15 {
  border-right-width: 15px; }

.brd-r-20 {
  border-right-width: 20px; }

.brd-b-0 {
  border-bottom-width: 0px; }

.brd-b-1, .main {
  border-bottom-width: 1px; }

.brd-b-2 {
  border-bottom-width: 2px; }

.brd-b-3 {
  border-bottom-width: 3px; }

.brd-b-4 {
  border-bottom-width: 4px; }

.brd-b-5 {
  border-bottom-width: 5px; }

.brd-b-10 {
  border-bottom-width: 10px; }

.brd-b-15 {
  border-bottom-width: 15px; }

.brd-b-20 {
  border-bottom-width: 20px; }

.brd-l-0 {
  border-left-width: 0px; }

.brd-l-1 {
  border-left-width: 1px; }

.brd-l-2 {
  border-left-width: 2px; }

.brd-l-3 {
  border-left-width: 3px; }

.brd-l-4 {
  border-left-width: 4px; }

.brd-l-5 {
  border-left-width: 5px; }

.brd-l-10 {
  border-left-width: 10px; }

.brd-l-15 {
  border-left-width: 15px; }

.brd-l-20 {
  border-left-width: 20px; }

.spc-0, ul, body, header.main, main article p {
  padding: 0px; }

.spc-1 {
  padding: 1px; }

.spc-2, main article section h4 {
  padding: 2px; }

.spc-3, p {
  padding: 3px; }

.spc-4 {
  padding: 4px; }

.spc-5, header li, aside h3, main h3, aside p, main p, aside li, main li {
  padding: 5px; }

.spc-10, footer, .main, main article, main article section img {
  padding: 10px; }

.spc-15, header .grd {
  padding: 15px; }

.spc-20 {
  padding: 20px; }

.spc-25 {
  padding: 25px; }

.spc-30 {
  padding: 30px; }

.spc-50 {
  padding: 50px; }

.spc-t-0, aside p, main p {
  padding-top: 0px; }

.spc-t-1 {
  padding-top: 1px; }

.spc-t-2 {
  padding-top: 2px; }

.spc-t-3 {
  padding-top: 3px; }

.spc-t-4 {
  padding-top: 4px; }

.spc-t-5, h2 {
  padding-top: 5px; }

.spc-t-10 {
  padding-top: 10px; }

.spc-t-15 {
  padding-top: 15px; }

.spc-t-20 {
  padding-top: 20px; }

.spc-t-25 {
  padding-top: 25px; }

.spc-t-30 {
  padding-top: 30px; }

.spc-t-50 {
  padding-top: 50px; }

.spc-r-0 {
  padding-right: 0px; }

.spc-r-1 {
  padding-right: 1px; }

.spc-r-2 {
  padding-right: 2px; }

.spc-r-3 {
  padding-right: 3px; }

.spc-r-4 {
  padding-right: 4px; }

.spc-r-5 {
  padding-right: 5px; }

.spc-r-10, header h2 span, main {
  padding-right: 10px; }

.spc-r-15, header li {
  padding-right: 15px; }

.spc-r-20 {
  padding-right: 20px; }

.spc-r-25, h2 {
  padding-right: 25px; }

.spc-r-30 {
  padding-right: 30px; }

.spc-r-50 {
  padding-right: 50px; }

.spc-b-0, aside h3, main h3 {
  padding-bottom: 0px; }

.spc-b-1 {
  padding-bottom: 1px; }

.spc-b-2 {
  padding-bottom: 2px; }

.spc-b-3 {
  padding-bottom: 3px; }

.spc-b-4 {
  padding-bottom: 4px; }

.spc-b-5, h2 {
  padding-bottom: 5px; }

.spc-b-10 {
  padding-bottom: 10px; }

.spc-b-15 {
  padding-bottom: 15px; }

.spc-b-20 {
  padding-bottom: 20px; }

.spc-b-25 {
  padding-bottom: 25px; }

.spc-b-30 {
  padding-bottom: 30px; }

.spc-b-50 {
  padding-bottom: 50px; }

.spc-l-0 {
  padding-left: 0px; }

.spc-l-1 {
  padding-left: 1px; }

.spc-l-2 {
  padding-left: 2px; }

.spc-l-3 {
  padding-left: 3px; }

.spc-l-4 {
  padding-left: 4px; }

.spc-l-5 {
  padding-left: 5px; }

.spc-l-10, header h2 span, main {
  padding-left: 10px; }

.spc-l-15, header li {
  padding-left: 15px; }

.spc-l-20 {
  padding-left: 20px; }

.spc-l-25, h2 {
  padding-left: 25px; }

.spc-l-30 {
  padding-left: 30px; }

.spc-l-50 {
  padding-left: 50px; }

.mrg-0, ul, body, main article p, main article section h3, main article section h4, aside h3, main h3, h2, p {
  margin: 0px; }

.mrg-1, header li, main article, aside header, main header, aside li, main li {
  margin: 1px; }

.mrg-2 {
  margin: 2px; }

.mrg-3 {
  margin: 3px; }

.mrg-4 {
  margin: 4px; }

.mrg-5, header.main {
  margin: 5px; }

.mrg-10 {
  margin: 10px; }

.mrg-15 {
  margin: 15px; }

.mrg-20 {
  margin: 20px; }

.mrg-25 {
  margin: 25px; }

.mrg-30 {
  margin: 30px; }

.mrg-50 {
  margin: 50px; }

.txt-center, header.main, .main {
  text-align: center; }

.txt-left, aside li, main li {
  text-align: left; }

.txt-right, footer {
  text-align: right; }

.txt-up, header p, header li, footer a {
  text-transform: uppercase; }

.txt-cap, h2 {
  text-transform: capitalize; }

.txt-simple, a {
  text-decoration: none; }

.txt-bold {
  font-weight: bold; }

.txt-norm, h2 {
  font-weight: normal; }

.font-m, header.main, footer, main, aside {
  font-family: 'Abel', Arial; }

.font-s {
  font-family: 'Oswald', Arial; }

.txt-12, header h2 span, main article section h4 {
  font-size: 12px; }

.txt-14 {
  font-size: 14px; }

.txt-16, header li, aside, main {
  font-size: 16px; }

.txt-20, body {
  font-size: 20px; }

.txt-24 {
  font-size: 24px; }

.txt-40, h2 {
  font-size: 40px; }

header.main {
  background-image: url('http://i5.minus.com/iCEr5orUtxPFA.png');
  background-size: 100%;
  overflow: hidden; }
header .grd {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.8) 100%); }

.main {
  background-image: url('http://subtlepatterns.com/patterns/dark_wall.png'); }

main article {
  /*background-image: url($bg-article-img);*/ }
  main article section img {
    max-width: 80px; }

p {
  font-size: 65%; }

