<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{{=it.main.title}}</title>
		<meta name="description" content="{{=it.main.description}}">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<!--<link rel="stylesheet" type="text/css" href="/css/shared.min.css">-->
		<link rel="stylesheet" type="text/css" href="/css/{{=it.app.name}}.css">
		<!--react-->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.min.js"></script>
		<script tye="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/classnames/2.2.0/index.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/superagent/1.2.0/superagent.min.js"></script>
		<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react-router/1.0.0/ReactRouter.js"></script>-->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
		<!--other-->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
		<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
	</head>
	
	<body>
		<div id="app"></div>
		{{=it.body}}
 	</body>
 	
	<script type="text/babel" src="/js/{{=it.app.name}}.js"></script>
</html>