{{
  temp.brd = "";
  if(match.bets && it.profile){
    for(var b in match.bets){
      if(match.bets[b].user == it.profile.user){temp.brd = "bg-dark2 txt-w";break;};
    }
  }
}}

<article class="{{=temp.brd}}">
  
  {{
    temp.left = match.startMs-it.app.ms;
    temp.colorClass = temp.left>0 ? '' : 'txt-live';
  }}
  <h3 class="time-left txt-up {{=temp.colorClass}}">{{=temp.left}}</h3>
  
  <p class="games">{{=match.games}}</p>
  
  <div class="clear procentige">
    <section class="spc-1 col-6">
      {{
        temp.grdColor = temp.t1High ? '#8CD199' : '#ff6867';
      }}
      <div class="spc-1" style="background: linear-gradient(to left, {{= temp.grdColor}} 0%,transparent {{=match.t1.rate}},transparent 100%);"></div>
    </section>
    <section class="col-6 spc-1">
      {{
        temp.grdColor = temp.t1High ? '#ff6867' : '#8CD199';
      }}
      <div class="spc-1" style="background: linear-gradient(to right, {{= temp.grdColor}} 0%,transparent {{=match.t2.rate}},transparent 100%);"></div>
    </section>
  </div>
  
  <div class="clear spc-t-5">
    <section class="col-5 txt-right clear">
      <div class="col-8">
        <h3>{{=match.t1.name}}</h3>
      </div>
      <div class="col-4">
        <img src="{{=match.t1.img}}">
      </div>
    </section>
    <div class="col-2 spc-t-10 txt-10 txt-bold txt-up">
      vs
    </div>
    <section class="col-5 txt-left clear">
      <div class="col-4">
        <img src="{{=match.t2.img}}">
      </div>
      <div class="col-8">
        <h3>{{=match.t2.name}}</h3>
      </div>
    </section>
  </div>
  
</article>