<ul>
  <div class="aClick brd-dark3 brd-sld brd-5 mrg-1" aData="a:show.specific, elem:#ladder, cont:.transport">
    <div class="bt bg-dark1">
    	<h3>{{=it.left.title}}</h3>
    	<p class="spc-b-5 txt-up">{{=it.left.description}}
    	  <i class="fa fa-angle-double-right spc-l-5"></i>
    	</p>
    </div>
  </div>
  {{~it.unfinished :match}}
    {{
      var temp = temp || {};
      temp.t1High = match.t1.rate && match.t2.rate && parseInt(match.t1.rate)>parseInt(match.t2.rate) ? true : false;
    }}
    <li class="aClick" aData="a:show.specific, elem:#{{=match.matchId}}, cont:.transport">
      {{#def.loadAppView('bets', 'page/main/left/left.match', 'onePage')}}
    </li>
  {{~}}
  {{? !it.unfinished && !it.unfinished.length}}
    <p class="spc-10">
      there is no new matches availabe now
    </p>
  {{?}}
</ul>