<div class="show">
  <a href="{{=it.routes.matches}}">
    <header class="bt">
    	<h3>{{=it.right.title}}</h3>
    	<p>{{=it.right.description}}
    	  <i class="fa fa-angle-double-right spc-l-5"></i>
    	</p>
  	</header>
  </a>
  <ul>
    {{~it.finished :match}}
      <li class="aClick" aData="a:show.specific, elem:#{{=match.matchId}}, cont:.transport">
        <div class="clear">
          <section class="col-5 txt-right clear bb">
            <div class="{{= match.winner == 't1' ? 'txt-green' : match.winner == 't2' ? 'txt-red' : ''}}">
              <span class="txt-12">{{=match.t1.rate}}</span>
              {{=match.t1.name}}
            </div>
          </section>
          <section class="col-2 txt-center txt-10 spc-t-3">
            
            <span>
              {{? match.maps && typeof match.maps != 'string'}}
                <i class="fa fa-plus"></i>
              {{??}}
                <i class="fa fa-times"></i>
              {{?}}
            </span>
            
          </section>
          <section class="col-5 txt-left clear bb">
            <div class="{{= match.winner == 't2' ? 'txt-green' : match.winner == 't1' ? 'txt-red' : ''}}">
              {{=match.t2.name}}
              <span class="txt-12">{{=match.t2.rate}}</span>
            </div>
            
          </section>
        </div>
      </li>
    {{~}}
  </ul>
  <div class="spc-5 txt-12 bg-dark1 txt-left brd-sld brd-0 brd-b-3 brd-dark3">
    <i class="fa fa-plus spc-r-10 spc-l-5"></i> have map stats </br>
    <i class="fa fa-times spc-r-10 spc-l-5"></i> dont have extra stats
  </div>
</div>