<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{{=it.main.title}}</title>
		<meta name="description" content="{{=it.main.description}}">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/{{=it.app.name}}.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
	</head>
	
	<body>
	
	{{=it.body}}
 	</body>
 	
 	<script src="/js/main.js"></script>
	<script src="/js/{{=it.app.name}}.js"></script>
</html>