<td style="white-space: normal" class="pdg-5px brd-b-greyl1">
  <span class="bg-black clr-white pdg-5px dsp-inline mrg-r-5px">{{entry.field.name}}
</td>
<td style="white-space: normal" class="pdg-5px brd-b-greyl1">
  </span>{{entry.entry}}
</td>