<input
  ng-model="SectionName"
  class="flt-left dsp-block fnt-lg col-10 pdg-tb-5px pdg-rl-15px outline-none fix-bb brd-grey brd-r-0" 
  name="{{fieldName}}" 
  placeholder="{{fieldName}}">
<button 
  class="col-2 bg-greyl1 dsp-block flt-right brd-grey pdg-5px fix-bb fnt-lg outline-none hover-clr-white hover-bg-black">
    <i class="fa fa-plus"></i>
</button>