<a href="#/section/{{section._id}}" 
  class="clr-white txt-deco-none dsp-block" 
  style="white-space: normal">
    <span 
      class="cursor-pointer dsp-inline brd-black mrg-t-2px">
      <div class="brd-white bg-black hover-bg-blackl3 pdg-rl-15px pdg-tb-5px">
        {{section.name}}
      </div>
    </span>
    <span class="clr-grey fnt-sm">
      {{section.description}}
    </span>
</a>