{{ var temp = {};}}	
{{
  temp.length = it.unfinished.length;
  temp.col = temp.length > 2 
    ? 4 
    : temp.length > 1 
      ? 6
      : 12;
}}
{{~ it.unfinished :match}}
  {{
    match.t1.cof = parseInt(match.t2.rate) / parseInt(match.t1.rate);
    match.t2.cof = parseInt(match.t1.rate) / parseInt(match.t2.rate);
    temp.t1High = parseInt(match.t1.rate)>parseInt(match.t2.rate) ? true : false;
    temp.t1Bets = 0;
    temp.t2Bets = 0;
    temp.t2Value = 0;
    temp.t1Value = 0;
  }}
  <div class="col-{{=temp.col}}">
    {{#def.loadAppView('bets', 'page/main/unfinished/match')}}
    <div class="action" action="transport">
      <div class="transport">
        <div class="hide bg-b1 brd-b1 brd-5 brd-sld">
          
          {{#def.loadAppView('bets', 'page/main/unfinished/betTitle')}}
          
          {{~ match.bets :bet}}
            {{
              if(bet.win == 't1'){
                temp.t1Bets++;
                temp.t1Value = temp.t1Value + bet.value;
              } else {
                temp.t2Bets++;
                temp.t2Value = temp.t2Value + bet.value;
              }
            }}
            
            {{#def.loadAppView('bets', 'page/main/unfinished/bet')}}
          
          {{~}}
        </div>
      </div>
      {{#def.loadAppView('bets', 'page/main/unfinished/betStats')}}
    </div>
  </div>
{{~}}