<aside>
  <div class="col-3 spc-1"></div>
  <div class="col-6">
    
    <div class="spc-b-20">
      <a target="_blank" href="https://chrome.google.com/webstore/detail/wdpwp-bettrack/naimocokmoolndojocncllmpbgoipeem">
        <div class="spc-10 bg-live bt">
          <i class="fa fa-download"></i>
          chrome store extension link
        </div>
      </a>
    </div>
    
    <div class="clear">
      <div class="spc-5 txt-12 brd-sld brd-dark3 brd-0 bg-dark3 brd-b-3 txt-bold txt-up clear">
        <div class="bg-dark2 spc-5 left">
          Your extension account data
        </div>
      </div>
      
      <div class="spc-1 brd-sld brd-5 brd-dark3 brd-t-0">
        <div class="clear">
          <div class="bg-dark1 spc-5 col-6 txt-up aHover txt-right" aData="a:show.inside">
            <p class="txt-left bg-w txt-b spc-3 hide absolute">
              place this nickname to your extension nickname field
            </p>
            nickname
          </div>
          <div class="col-6 txt-right">
            <div class="bg-l txt-b spc-5 op-8">{{=it.profile.user}}</div>
            <!--<input type="text" class="input" value="" disabled>-->
          </div>
        </div>
        
        <div class="clear mrg-t-1">
          <div class="bg-dark1 spc-5 col-6 txt-up aHover txt-right" aData="a:show.inside">
            <p class="bg-w txt-b spc-3 hide absolute">
              place this password to your extension password field
            </p>
            password
          </div>
          <div class="col-6 clear txt-right">
            <div class="bg-l txt-b spc-5 op-8">
              {{=it.profile.psw}}
            </div>
            <!--<div class="col-3 bt bg-yellow spc-10">
              <i class="fa fa-refresh"></i>
            </div>-->
          </div>
        </div>
        
        <div class="spc-10 bg-dark2 txt-red txt-up txt-12">
          you gonna be listed on ladder after your first won or lost bet on the system
        </div>
      </div>
    </div>
    
  </div>
  <div class="col-3 spc-1"></div>
  
</aside>