<aside>
  <div class="col-3 spc-1"></div>
  <div class="col-6">
    
    <div class="clear mrg-t-20">
      <div class="bg-dark1 spc-10 col-6 txt-up aHover txt-left" aData="a:show.inside">
        <p class="txt-right bg-w txt-b spc-3 hide absolute">
          visitors can not see what side did u picked for your newest bets
        </p>
        private
      </div>
      {{? it.profile.private}}
        <div class="spc-10 col-6 bg-red bt">
          ON
        </div>
      {{??}}
        <div class="spc-10 col-6 bg-green bt">
          OFF
        </div>
      {{?}}
    </div>
    
    <div class="clear mrg-t-5">
      <div class="bg-dark1 spc-10 col-6 txt-up aHover txt-left" aData="a:show.inside">
        <p class="txt-right bg-w txt-b spc-3 hide absolute">
          only confirmed accounts are able to use our system
        </p>
        status
      </div>
      {{? it.profile.disabled}}
        <div class="spc-10 col-6 bg-dark3 txt-red txt-up">
          disabled
        </div>
      {{??}}
        <div class="spc-10 col-6 bg-dark3 txt-green txt-up">
          enabled
        </div>
      {{?}}
    </div>
    
  </div>
  <div class="col-3 spc-1"></div>
  
</aside>