@import 'variables';
@import 'fn';
@import 'shapes';

.fnt-size-base{font-size: px($base-font-size - 1) !important;}
//fixes
.fix-clear{overflow: hidden;}
.fix-bb{box-sizing: border-box;}
.wrap{max-width: $screen-lg; width: 94%; margin: 0 auto;}

//pointer events
.trans{
    transition: color $duration ease-in;
    transition-property: color, background-color;
}
.events-none{pointer-events: none;}
.events-auto{pointer-events: auto;}

//inherit
.clr-inherit{color: inherit;}
.bg-inherit{background-color: inherit;}
.fnt-inherit{font-family: inherit;}

//hover
.hover-bg-none:hover{background-color: transparent;}
.hover-bg-op-05:hover{background-color: rgba(0,0,0,0.5);}
.hover-op-1:hover{opacity: 1 !important;}
.hover-op-0:hover{opacity: 0 !important;}
.hover-dsp-none:hover{display: none !important;}
.hover-boxshadow:hover{box-shadow: 0px 0px 3px rgba(0,0,0,0.1) !important;}
.hover-txt-under:hover{text-decoration: underline !important; cursor: pointer;}


//colors
@include mx_loop($clr, clr, color);
@include mx_loop($clr, ('hover-clr', ':hover'), color);

//backgrounds

.bg-none{background-color: transparent;}

@include mx_loop($clr, bg, background-color);
@include mx_loop($clr, ('hover-bg', ':hover'), background-color);

//patterns
.ptrn-sky{background-image: $ptrn-sky;}

//outline

.outline-none{outline: none;}

//placeholders

.placeholder{
    &::-webkit-input-placeholder {color: $clr-grey;}
    &:-moz-placeholder {color: $clr-grey;}
    &::-moz-placeholder {color: $clr-grey;}
    &:-ms-input-placeholder {color: $clr-grey;}
}

//borders
.brd-0{border-width: 0;}
.brd-1px{border-width: 1px;}
.brd-2px{border-width: 2px;}
.brd-2{border-width: 2px;}
.brd-t-0{border-top-width: 0 !important;}
.brd-r-0{border-right-width: 0 !important;}
.brd-b-0{border-bottom-width: 0 !important;}
.brd-l-0{border-left-width: 0 !important;}

//custom borders
@include mx_loop($clr, 'brd-b-2', border-bottom, '', class, ' solid 2px');
@include mx_loop($clr, 'brd-dash-2', border, '', class, ' dashed 2px');
@include mx_loop($clr, 'brd-solid-2', border, '', class, ' solid 2px');

//default 1px borders
@include mx_loop($clr, brd, border, '', class, $brd-default);
@include mx_loop($clr, brd-t, border-top, '', class, $brd-default);
@include mx_loop($clr, brd-b, border-bottom, '', class, $brd-default);
@include mx-loop($clr, brd-l, border-left, '', class, $brd-default);
@include mx-loop($clr, brd-r, border-right, '', class, $brd-default);
@include mx-loop($clr, brd-rl, (border-right, border-left), '', class, $brd-default);

@include mx_loop($clr, out, outline, '', class, $brd-default);

@include mx_loop($em, (brd-rad, px), border-radius, 'px', class);
@include mx_loop($w-prc, (brd-rad), border-radius, '%', class);

.test:first-child, .test2+.test {
  border-top: solid 1px #ccc;
}

//fonts
@include mx_loop($fnt-size, fnt, font-size, '%');

.fnt-main{font-family: $font-main, Helvetica, Arial, sans-serif;}

.fnt-100{font-weight: 100;}
.fnt-200{font-weight: 200;}
.fnt-300{font-weight: 300;}
.fnt-slim{font-weight: 300;}
.fnt-400{font-weight: 400;}
.fnt-norm{font-weight: normal;}
.fnt-500{font-weight: 500;}
.fnt-mid{font-weight: 500;}
.fnt-600{font-weight: 600;}
.fnt-bold{font-weight: bold;}
.fnt-700{font-weight: 700;}
.fnt-800{font-weight: 800;}


//texts
.txt-center{text-align: center;}
.txt-left{text-align: left;}
.txt-right{text-align: right;}

.txt-up{text-transform: uppercase;}
.txt-low{text-transform: lowercase;}
.txt-cap{text-transform: capitalize;}
.txt-nowrap{white-space: nowrap;}

.txt-under{text-decoration: underline !important;}
.txt-deco-none{text-decoration: none!important;}
.txt-break{word-break: break-all;}
.list-none{list-style-type: none;}

//image backgrounds
.bg-cover{background-size: cover;}
.bg-norepeat{background-repeat: no-repeat;}
.bg-center{background-position: center;}
.bg-size-h-100{background-size: auto 100%;}

//width, height
.w-auto{width: auto;}
.w-max-100{max-width: 100%;}
.w-max-50{max-width: 50%;}
.w-max-inherit{max-width: inherit;}
.w-inherit{width: inherit;}
.w-0{width:0;}
.w-100{width:100%;}
.h-0{height:0;}
.h-100{height:100%;}
.h-100vh{height: 100vh;}
.h-min-100{min-height:100%;}
.h-min-40px{min-height: 40px; }
.h-min-100vh{min-height: 100vh;}
.h-100vh-head{height: calc(100vh - #{$headerHeight});}
.h-max-300{height:300px;}

@include mx_loop($w-prc, w, width, '%');
@include mx_loop($w-px, ('w', 'px'), width, 'px');
@include mx_loop($w-px, ('w-min', 'px'), min-width, 'px');
@include mx_loop($w-px, ('w-max', 'px'), max-width, 'px');

@include mx_loop($w-px, ('h', 'px'), height, 'px');
@include mx_loop($w-px, ('h-min', 'px'), min-height, 'px');
@include mx_loop($w-px, ('h-max', 'px'), max-height, 'px');

.h-auto{height: auto; min-height: auto;}
.h-200{height: 200px;}

//grid
.col-1{width: 8.33333%;}
.col-2{width: 16.66667%;}
.col-3{width: 25%;}
.col-4{width: 33.33333%;}
.col-5{width: 41.66667%;}
.col-6{width: 50%;}
.col-7{width: 58.33333%;}
.col-8{width: 66.66667%;}
.col-9{width: 75%;}
.col-10{width: 83.33333%;}
.col-11{width: 91.66667%;}
.col-12{width: 100%;}

.col-max-1{max-width: 8.33333%;}
.col-max-2{max-width: 16.66667%;}
.col-max-3{max-width: 25%;}
.col-max-4{max-width: 33.33333%;}
.col-max-5{max-width: 41.66667%;}
.col-max-6{max-width: 50%;}
.col-max-7{max-width: 58.33333%;}
.col-max-8{max-width: 66.66667%;}
.col-max-9{max-width: 75%;}
.col-max-10{max-width: 83.33333%;}
.col-max-11{max-width: 91.66667%;}
.col-max-12{max-width: 100%;}

.col-min-1{min-width: 8.33333%;}
.col-min-2{min-width: 16.66667%;}
.col-min-3{min-width: 25%;}
.col-min-4{min-width: 33.33333%;}
.col-min-5{min-width: 41.66667%;}
.col-min-6{min-width: 50%;}
.col-min-7{min-width: 58.33333%;}
.col-min-8{min-width: 66.66667%;}
.col-min-9{min-width: 75%;}
.col-min-10{min-width: 83.33333%;}
.col-min-11{min-width: 91.66667%;}
.col-min-12{min-width: 100%;}



//displays
.dsp-inline{display: inline-block;}
.dsp-block{display: block;}
.dsp-none{display: none;}

//positions
.pos-absolute{position: absolute !important;}
.pos-relative{position: relative;}
.pos-fixed{position: fixed;}



@media only screen and (min-width: $screen-md+1){
  .lg-dsp-none{
    display: none!important;
  }

  .lg-op-03{
    opacity: 0.3;
  }
}

@media only screen and (max-width: $screen-md) {
  .lg-op-03{
    opacity: 1 !important;
  }
    /* body{font-size: px($md-base-font-size) !important;} */
    .md-txt-wrap{white-space: normal !important;}
    .md-txt-center{text-align: center;}
    .md-txt-left{text-align: left;}
    .md-txt-right{text-align: right;}
    .md-col-12{width: 100%;}
    .md-col-10{width: 83.33333%;}
    .md-col-2{width: 16.66667%;}
    .md-dsp-block{display: block !important;}
    .md-dsp-none{display: none !important;}
    .md-dsp-inline{display: inline-block !important;}
    .md-pos-relative{position: relative !important;}
    .md-pos-fixed{position: fixed !important;}
    .md-mrg-0{margin: 0 !important;}
    .md-pdg-0{padding: 0 !important;}
    .md-pdg-tb-0{padding-top: 0 !important; padding-bottom: 0 !important;}
    .md-mrg-1{margin: 1px;}
    .md-mrg-t-1{margin: 1px !important;}
    .md-pdg-r-50px{padding-right: 50px !important;}
    .md-pdg-tb-5em{padding-top: em(5) !important; padding-bottom: em(5) !important;}
    .md-pdg-tb-10em{padding-top: em(10) !important; padding-bottom: em(10) !important;}
    .md-mrg-tb-10em{margin-top: em(10) !important; margin-bottom: em(10) !important;}
    .md-pdg-tb-10px{padding-top: 10px !important; padding-bottom: 10px !important;}
    .md-pdg-rl-5px{padding-right: 5px !important; padding-left: 5px !important;}
    .md-pdg-rl-10px{padding-right: 10px !important;padding-left: 10px !important;}
    .md-pdg-rl-20px{padding-right: 20px !important;padding-left: 20px !important;}
    .md-pdg-rl-30px{padding-right: 30px !important;padding-left: 30px !important;}
    .md-pdg-10px{padding: 10px !important;}
    .md-pdg-20px{padding: 20px !important;}
    .md-pdg-30px{padding: 30px !important;}
    .md-tb-fixed{table-layout: fixed;}
    .md-flt-none{float: none !important;}
    .md-h-auto{height: auto !important;}
    .md-brd-0{border-width: 0 !important;}
    .md-brd-t-grey{border-top: 1px solid $clr-grey !important;}
    .md-brd-t-greyd1{border-top: 1px solid darken($clr-grey, $shade1) !important;}
    .md-brd-b-greyd1{border-bottom: 1px solid darken($clr-grey, $shade1) !important;}
    .md-w-100{width: 100% !important;}
    .md-w-auto{
        width: auto !important;
        min-width: inherit !important;
    }
    .md-h-auto{height: auto !important;}
}

@media only screen and (max-width: $screen-sm) {
    /* body{font-size: px($sm-base-font-size) !important;} */
    .sm-txt-center{text-align: center !important;}
    .sm-txt-left{text-align: left !important;}
    .sm-col-12{width: 100%;}
    .sm-dsp-block{display: block !important;}
    .sm-dsp-none{display: none !important;}
    .sm-w-auto{
        width: auto !important;
        min-width: auto !important;
    }
    .sm-mrg-auto{margin: 0 auto;}
    .sm-mrg-lr--10px{ margin: 0 -10px!important;}
    .sm-mrg-b-20px{ margin-bottom: 20px!important;}
    .sm-w-150px{width: 150px !important;}
    .sm-h-150px{height: 150px !important;}
    .sm-mrg-r-0{margin-right: 0px!important;}

    .sm-pdg-rl-10px{padding-right: 10px !important;padding-left: 10px !important;}
    .sm-pdg-rl-20px{padding-right: 20px !important;padding-left: 20px !important;}
    .sm-pdg-rl-0px{padding-right: 0px !important;padding-left: 0px !important;}
    .sm-pdg-l-20px{padding-left: 20px!important;}
    .sm-pdg-t-50px{padding-top: 50px!important;};
    .sm-pdg-b-20px{ padding-bottom: 20px!important;}
    .sm-pdg-b-10px{ padding-bottom: 10px!important;}
    .sm-mrg-0{margin: 0 !important;}
    .sm-pdg-0{padding: 0 !important;}
    .sm-pos-static{position: static !important;}
    .sm-pos-relative{position: relative !important;}
    .sm-pos-fixed{ position: fixed !important;}

    .sm-top-50px{ top: 50px!important};
    .sm-bg-black { background: #000 !important;}
    .sm-brd-none{border: none!important;}
}


//positions
.pos-absolute{position: absolute;}
.pos-relative{position: relative;}
.pos-fixed{position: fixed;}

.right-0{right: 0;}
.top-0{top: 0;}
.top-50{top: 50%;}
.top-45{top: 45%;}
.top-40{top: 40%;}
.top-30{top: 30%;}
.top-20{top: 20%;}
.bot-0{bottom: 0;}
.left-0{left: 0;}
.left-40{left: 40%;}

.z-1{z-index: 1;}
.z-2{z-index: 2;}
.z-3{z-index: 3;}
.z-4{z-index: 4;}
.z-5{z-index: 5;}
.z-10{z-index: 10;}
.z-negative{z-index: -1;}

//table
.tb{display: table;}
.tr{display: table-row;}
.td{display: table-cell; vertical-align: middle;}

.valign-mid{vertical-align: middle;}
.valign-top{vertical-align: top;}
.valign-bot{vertical-align: bottom;}

.tb-fixed{table-layout: fixed;}

//floating
.flt-left{float: left;}
.flt-right{float: right;}
.flt-none{float: none;}

//line
.line-none{line-height: 0;}
.line-norm{line-height: normal;}
.line-10{line-height: 1;}
.line-11{line-height: 1.1;}
.line-12{line-height: 1.2;}
.line-13{line-height: 1.3;}
.line-14{line-height: 1.4;}

.line-10px{line-height: 10px;}
.line-20px{line-height: 20px;}
.line-25px{line-height: 25px;}
.line-30px{line-height: 30px;}
.line-40px{line-height: 40px;}
.line-50px{line-height: 50px;}

.over-auto{overflow: auto;}
.over-hide{overflow: hidden;}

//scrollbar

.scrollbar-none{
  &::-webkit-scrollbar{display: none;}
}

//cursor
.cursor-pointer{cursor: pointer;}
.resize-none{resize: none;}

.op-0{opacity: 0;}
.op-03{opacity: 1;}
.op-05{opacity: 0.5;}
.op-08{opacity: 0.8;}
.op-8{opacity: 0.8;}
.op-1{opacity: 1;}

//buttons
.bt{
    &.over-size{
        width: auto !important;
        height: auto !important;
        min-height: inherit !important;
    }
    &.over-fnt{
        font-size: 100% !important;
        font-weight: 400 !important;
    }
    @extend .clr-black;
    @extend .txt-up;
    @extend .fnt-mid;
    @extend .pdg-3;
    @extend .pdg-tb-5em;
    @extend .dsp-inline;
    @extend .txt-center;
    @extend .md-dsp-block;
    &.brd-yellow:hover{
        background: lighten($clr-yellow, $shade1);
    }
}

//shadows

.boxshadow{box-shadow: 0 0px 3px rgba(0,0,0,0.1)}
.boxshadow-10{box-shadow: 0px 0px 10px rgba(0,0,0,0.1);}
.boxshadow-r-5{box-shadow: 1px 0px 5px rgba(0,0,0,0.1);}
.boxshadow-l-5{box-shadow: -1px 0px 5px rgba(0,0,0,0.1);}
.boxshadow-b-5{box-shadow: 0px 3px 10px rgba(0,0,0,0.5);}
.boxshadow-b{box-shadow: 0px 0px 5px rgba(0,0,0,0.1)}

//text shadows

.txt-shadow-b-2{text-shadow: 0px 2px 5px rgba(0,0,0,0.3);}
.txt-shadow{text-shadow: 0px 0px 1px rgba(0,0,0,0.3);}

//fogBackgrounds

.bg-op-03{background-color: rgba(0,0,0,0.3);}
.bg-op-05{background-color: rgba(0,0,0,0.5);}
.bg-op-08{background-color: rgba(0,0,0,0.8);}



//padding, margin
.mrg-auto{margin: 0 auto;}
.pdg-b-0{padding-bottom: 0;}
.pdg-t-0{padding-top: 0;}
.pdg-r-400px{padding-right: 400px;}
//paddings prc
@include mx_loop($prc, pdg, padding, '%');
@include mx_loop($prc, pdg-t, padding-top, '%');
@include mx_loop($prc, pdg-r, padding-right, '%');
@include mx_loop($prc, pdg-b, padding-bottom, '%');
@include mx_loop($prc, pdg-l, padding-left, '%');
@include mx_loop($prc, pdg-rl, (padding-right, padding-left), '%');
//padding em
@include mx_loop($em, ('pdg', 'em'), padding, 'em');
@include mx_loop($em, ('pdg-t', 'em'), padding-top, 'em');
@include mx_loop($em, ('pdg-r', 'em'), padding-right, 'em');
@include mx_loop($em, ('pdg-b', 'em'), padding-bottom, 'em');
@include mx_loop($em, ('pdg-l', 'em'), padding-left, 'em');
@include mx_loop($em, ('pdg-tb', 'em'), (padding-top, padding-bottom), 'em');
@include mx_loop($em, ('pdg-rl', 'em'), (padding-right, padding-left), 'em');
//padding px
@include mx_loop($em, ('pdg', 'px'), padding, 'px');
@include mx_loop($em, ('pdg-t', 'px'), padding-top, 'px');
@include mx_loop($em, ('pdg-r', 'px'), padding-right, 'px');
@include mx_loop($em, ('pdg-b', 'px'), padding-bottom, 'px');
@include mx_loop($em, ('pdg-l', 'px'), padding-left, 'px');
@include mx_loop($em, ('pdg-tb', 'px'), (padding-top, padding-bottom), 'px');
@include mx_loop($em, ('pdg-rl', 'px'), (padding-right, padding-left), 'px');
//margins proc
@include mx_loop($prc, mrg, margin, '%');
@include mx_loop($prc, mrg-t, margin-top, '%');
@include mx_loop($prc, mrg-r, margin-right, '%');
@include mx_loop($prc, mrg-b, margin-bottom, '%');
@include mx_loop($prc, mrg-l, margin-left, '%');
@include mx_loop($em, mrg-rl, (margin-right, margin-left), '%');
//margins em
@include mx_loop($em, ('mrg', 'em'), margin, 'em');
@include mx_loop($em, ('mrg-t' ,'em'), margin-top, 'em');
@include mx_loop($em, ('mrg-r', 'em'), margin-right, 'em');
@include mx_loop($em, ('mrg-b', 'em'), margin-bottom, 'em');
@include mx_loop($em, ('mrg-l', 'em'), margin-left, 'em');
@include mx_loop($em, ('mrg-tb', 'em'), (margin-top, margin-bottom), 'em');
@include mx_loop($em, ('mrg-rl', 'em'), (margin-right, margin-left), 'em');

@include mx_loop($em, ('mrg', 'px'), margin, 'px');
@include mx_loop($em, ('mrg-b', 'px'), margin-bottom, 'px');
@include mx_loop($em, ('mrg-r', 'px'), margin-right, 'px');
@include mx_loop($em, ('mrg-l', 'px'), margin-left, 'px');
@include mx_loop($em, ('mrg-t', 'px'), margin-top, 'px');
@include mx_loop($em, ('mrg-tb', 'px'), (margin-top, margin-bottom), 'px');
