<aside class="col-3-4-5-12 spc-1">
</aside>
<main class="col-6-8-7-12">
  <div class="brd-sld spc-10 brd-dark1 bg-dark1 txt-up">
    <p class="spc-l-3 txt-18">
      Want to convert your items to real money safely?
    </p>
    <div class="txt-12">
      <span class="bg-live spc-l-3">
        WDPWP Buyers
      </span>
      <span class="spc-l-3">
        can buy your virtual items or keys anytime
      </span>
    </div>
  </div>
    
    
    
    {{~ it.buyers :tut}}
      <div class="mrg-t-10 spc-25 txt-left brd-sld spc-10 brd-dark1">
        <h3 class="spc-5 mrg-0">
          <span class="txt-up">{{=tut.name}}</span>
          <a target="_blank" class="txt-live txt-14 bt spc-l-5 spc-r-5" href="{{=tut.link}}">{{=tut.link}}</a>
        </h3>
        <p class="txt-12 spc-l-10 bg-dark1">{{=tut.title}}</p>
        <table cellspacing="0" class="txt-left spc-20 spc-t-10 txt-14 spc-b-0">
          {{~ tut.list :rule}}
            <tr class="">
              <td>
                {{=rule.title}}
              </td>
              <td>
                <i class="fa txt-green fa-angle-right spc-l-10 spc-r-10"></i>
              </td>
              <td>
                 {{=rule.text}}
              </td>
            </tr>
          {{~}}
        </table>
      </div>
    {{~}}
  
</main>