<aside class="col-3-4-5-12">
  {{#def.loadAppView('bets', 'page/main/main.left', 'onePage')}}
</aside>
<main class="col-6-8-7-12">
  {{#def.loadAppView('bets', 'page/main/main.center', 'onePage')}}
</main>
<aside class="col-3 hide-md">
  {{#def.loadAppView('bets', 'page/main/main.right', 'onePage')}}
</aside>