<aside class="spc-l-10 spc-r-10 op-10 txt-18">
  {{var temp = {};}}
  <ul>
    {{~it.finished :match}}
      
      {{? !temp.date || (temp.date && temp.date != match.date)}}
        {{temp.date = match.date;}}
        <div class="spc-10 spc-t-15 txt-left bg-dark1 txt-14">
          {{=temp.date}}
        </div>
      {{?}}
      
      <a href="{{=it.routes.match}}{{=match.matchId}}/{{=match.t1.name}}.vs.{{=match.t2.name}}.{{=match.date}}">
        <li class="clear">
          <section class="col-5 txt-right clear bb clear">
            <div class="col-7 spc-1">
              {{? match.maps}}
                {{? typeof match.maps == 'string'}}
                  {{? match.winner == 't1'}}
                    <div class="spc-l-10 txt-12 spc-r-10 op-8 bg-dark4 inline">{{=match.maps}}</div>
                  {{?}}
                {{??}}
                  {{~match.maps :map}}
                    {{? map.score && map.score.t1.score > 15 && map.score.t1.score > map.score.t2.score}}
                      <div class="spc-l-10 txt-12 spc-r-10 op-8 bg-dark4 inline">
                        {{=map.name}}
                        <span class="txt-green">{{=map.score.t1.score}}</span> :
                        <span class="txt-red">{{=map.score.t2.score}}</span>
                      </div>
                    {{?}}
                  {{~}}
                {{?}}
              {{?}}
            </div>
            <div class="col-5 {{= match.winner == 't1' ? 'txt-green' : match.winner == 't2' ? 'txt-red' : ''}}">
              <span class="txt-12">{{=match.t1.rate}}</span>
              {{=match.t1.name}}
            </div>
          </section>
          <section class="col-2 txt-center txt-14">vs</section>
          <section class="col-5 txt-left clear bb">
            <div class="col-5 {{= match.winner == 't2' ? 'txt-green' : match.winner == 't1' ? 'txt-red' : ''}}">
              {{=match.t2.name}}
              <span class="txt-12">{{=match.t2.rate}}</span>
            </div>
            <div class="col-7">
              {{? match.maps}}
                {{? typeof match.maps == 'string'}}
                  {{? match.winner == 't2'}}
                    <div class="spc-l-10 txt-12 spc-r-10 op-8 bg-dark4 inline">{{=match.maps}}</div>
                  {{?}}
                {{??}}
                  {{~match.maps :map}}
                    {{? map.score && map.score.t2.score > 15 && map.score.t2.score > map.score.t1.score}}
                      <div class="spc-l-10 txt-12 spc-r-10 op-8 bg-dark4 inline">
                        {{=map.name}}
                        <span class="txt-red">{{=map.score.t1.score}}</span> :
                        <span class="txt-green">{{=map.score.t2.score}}</span>
                      </div>
                    {{?}}
                  {{~}}
                {{?}}
              {{?}}
            </div>
          </section>
        </li>
      </a>
    {{~}}
  </ul>
</aside>