<main class="spc-l-10 spc-r-10">
    {{
      var match = it.match;
      var m=0;
      var temp = {};
      temp.t1High = parseInt(match.t1.rate)>parseInt(match.t2.rate) ? true : false;
      temp.t1Bets = 0;
      temp.t2Bets = 0;
      temp.t2Value = 0;
      temp.t1Value = 0;
      temp.finished = match.finished ? 'finished' : 'unfinished';
    }}
    {{? !match.finished}}
      <div id="{{=match.matchId}}">
          {{#def.loadAppView('bets', 'page/_unfinished/match.links', 'onePage')}}
          {{#def.loadAppView('bets', 'page/_unfinished/match.unfinished', 'onePage')}}
          <div class="bg-b1 brd-b1 brd-5 brd-sld">
            
            {{~ match.bets :bet}}
              {{
                if(bet.win == 't1'){
                  temp.t1Bets++;
                  temp.t1Value = temp.t1Value + bet.value;
                } else {
                  temp.t2Bets++;
                  temp.t2Value = temp.t2Value + bet.value;
                }
              }}
              {{? bet.value}}
                {{#def.loadAppView('bets', 'page/_unfinished/match.bet', 'onePage')}}
              {{?}}
            {{~}}
          </div>
          {{#def.loadAppView('bets', 'page/_unfinished/match.stats', 'onePage')}}
      </div>
    
    {{??}}
    
      <div id="{{=match.matchId}}">
        {{#def.loadAppView('bets', 'page/_finished/match.links', 'onePage')}}
        {{#def.loadAppView('bets', 'page/_finished/match.finished', 'onePage')}}
        <div class="bg-b1 brd-b1 brd-5 brd-sld">
          
          {{~ match.bets :bet}}
            {{
              if(bet.win == 't1'){
                temp.t1Bets++;
                temp.t1Value = temp.t1Value + bet.value;
              } else {
                temp.t2Bets++;
                temp.t2Value = temp.t2Value + bet.value;
              }
            }}
            {{? bet.value}}
              {{#def.loadAppView('bets', 'page/_finished/match.bet', 'onePage')}}
            {{?}}
          {{~}}
        </div>
        {{#def.loadAppView('bets', 'page/_finished/match.stats', 'onePage')}}
      </div>
    {{?}}
</main>