<aside class="col-3-4-5-12 spc-1">
</aside>
<main class="col-6-8-7-12">
  <div class="">
    <div class="brd-sld spc-10 brd-dark1 txt-up">
      <p class="spc-l-3 txt-12">
        {{=it.slots.desc}}
      </p>
      <span class="bg-red spc-l-3">
        {{=it.slots.number-(it.activeUsers.length+it.inactiveUsers.length)}}
      </span>
      <span class="spc-l-3">
        {{=it.slots.text}}
      </span>
    </div>
    
    
    
    {{~ it.tut :tut}}
      <div class="mrg-t-10 spc-25 txt-left brd-sld spc-10 brd-dark1">
        <h3 class="spc-5 mrg-0 txt-up"><span class="">{{=tut.name}}</span></h3>
        <p class="txt-12 spc-l-10 bg-dark1">{{=tut.title}}</p>
        <ul class="txt-left spc-20 spc-t-10 spc-b-0">
          {{~ tut.list :rule}}
            <li>
              <i class="fa txt-green fa-angle-right"></i> {{=rule}}
            </li>
          {{~}}
        </ul>
      </div>
    {{~}}
  
</main>