<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<script>
  angular.module('UserBettingHistory', [])
    .controller('customersCtrl', function($scope, $http) {
      $scope.loading = true;
      $scope.dateShow = true;
      
      $http.get("http://stattrack-c9-noneede.c9.io/api/finished/zarna")
      .success(function(response) {
        $scope.matches = response;
        $scope.loading = false;
      });
      
      $scope.sortField = 'date';
      $scope.reverse = true;
    });
</script>


<div ng-app="UserBettingHistory"> 

	  <aside ng-controller="customersCtrl">
	    <header class="clear txt-up txt-bold">
        <a ng-click="sortField='result';reverse=!reverse;dateShow=false">
          <div class="col-1 txt-left spc-10 bt">
            w/l
          </div>
        </a>
        <div class="col-5 spc-10">
          Teams
        </div>
        <a ng-click="sortField='value';reverse=!reverse;dateShow=false">
          <div class="col-1 spc-10 bt txt-right">
            Value
          </div>
        </a>
        <div class="col-1 spc-10">
          
        </div>
        <a ng-click="sortField='balance';reverse=!reverse;dateShow=false">
          <div class="col-1 txt-left bt spc-10">
            Balance
          </div>
        </a>
        <div class="spc-10 col-2">
          
        </div>
        <a ng-click="sortField='date';dateShow=true;reverse=true">
          <div class="col-1 spc-10 txt-right bt">
            Date
          </div>
        </a>
      </header>
      
      <div class="spc-10 bg-dark3 mrg-1 txt-bold" ng-show="loading">
        Loading Data Please Wait...
      </div>
      <div class="spc-10 bg-dark3 mrg-1 txt-bold" ng-if="matches.length == 0">
        No Results Found...
      </div>
      
      <ul>
        <div ng-include="'../views/test.html'"></div>
      </ul>
    </aside>
	</div>