<div ng-app="App">

  <aside class="fix-clear fnt-main" ng-controller="ControllerMain">
    <div ng-show="loading" class="tb w-100 h-100vh txt-center clr-greyd1 pdg-50px">
      <div class="td">
        <i class="fa fa-cog fa-fw fa-4x fa-spin"></i></br>
        <p>Loading app...</p>
      </div>
    </div>
    <div ng-hide="loading">
      <ng-include ng-click="clearMsg()" ng-hide="!errorMsg" src="'../views/contentModify/elems/msg/msgError.html'"></ng-include>
      <ng-include ng-click="clearMsg()" ng-hide="!successMsg" src="'../views/contentModify/elems/msg/msgSuccess.html'"></ng-include>
      
      <div class="col-5 flt-left h-100vh pos-fixed fix-bb txt-left boxshadow-r-5">
        <span class="pdg-l-50px pdg-tb-15px bg-black clr-white dsp-inline">
          <a class="clr-inherit txt-deco-none" href="#/">APP</a>
         <span class="clr-green pos-relative pdg-l-20px pdg-r-10px flt-right">
            <i ng-click="showAddMenu=!showAddMenu" class="fa fa-plus-circle dsp-block cursor-pointer"></i>
            <ul ng-hide="!showAddMenu" class="boxshadow mrg-t-20px fnt-sm pos-absolute clr-blackl3 txt-nowrap top-0 left-0 bg-greyl2 list-none pdg-0">
              <li class="pdg-5px brd-grey hover-clr-white hover-bg-black cursor-pointer">
                <a href="#/section/">add new section</a></li>
              <li class="pdg-5px brd-grey hover-clr-white hover-bg-black cursor-pointer">add new collection</li>
              <li class="pdg-5px brd-grey hover-clr-white hover-bg-black cursor-pointer">add new entry</li>
            </ul>
         </span>
       </span>
       
       <div class="pdg-20px">
         <p class="clr-grey fnt-sm txt-center brd-b-grey mrg-b-5px pdg-5px">sections</p>
         <div ng-repeat="section in sections" ng-include="'../views/contentModify/section.html'"></div>
       </div>
       
       <div class="pdg-20px">
         <p class="clr-grey fnt-sm txt-center brd-b-grey mrg-b-5px pdg-5px">free fields</p>
         <div ng-repeat="field in fields" ng-include="'../views/contentModify/field.html'"></div>
       </div>
       
      </div>
      
      <div class="col-7 tb flt-right pdg-30px fix-bb ng-view"></div>
    </div>
  </aside>
</div>