@import "main";


/*$bg-head-img : 'http://i5.minus.com/iCEr5orUtxPFA.png';*/
$bg-head-img : 'http://cdn.medialib.computerandvideogames.com/screens/dir_3081/image_308129_full.jpg';
/*$bg-head-img : 'http://media.steampowered.com/apps/csgo/blog/images/chroma_case/case_6_knives.jpg';*/
/*$bg-head-img : 'http://2.bp.blogspot.com/-IcGGFgafkms/UdmNHA5nNxI/AAAAAAAABPg/uSnXTDslGig/s1600/CS+12.jpg';*/
$bg-bg-img : 'http://subtlepatterns.com/patterns/dark_wall.png';
$bg-article-img : 'http://subtlepatterns.com/patterns/stardust.png';
$bg-article-img2 : 'http://subtlepatterns.com/patterns/asfalt.png';
$bg-article-img3 : 'http://subtlepatterns.com/patterns/binding_dark.png';

body{
  @extend .font-m;
  @extend .spc-0;
  @extend .mrg-0;
  @extend .txt-20;
  @extend .bg-l;
}
*{@extend .bb;}

.input[type="text"]{
  @extend .txt-w;
  @extend .txt-center;
  @extend .mrg-0;
  @extend .spc-10;
  @extend .brd-sld;
  @extend .bg-dark1;
  @extend .brd-yellow;
  @extend .w-max;
}

.body{
  @extend .clear;
  @extend .txt-w;
  @extend .txt-center;
  @extend .spc-10;
  @extend .brd-0;
  @extend .brd-sld;
  @extend .brd-dd;
  @extend .brd-t-1;
  @extend .brd-b-1;
  background-image: url($bg-bg-img);
}

.header{
  @extend .brd-sld;
  @extend .brd-dark3;
  @extend .brd-5;
  @extend .mrg-1;
  @extend .bg-dark1;
  @extend .txt-w;
}

header{
  &.main{
    @extend .txt-center;
    @extend .brd-0;
    @extend .font-m;
    @extend .txt-w;
    @extend .mrg-b-2;
    @extend .mrg-t-2;
    @extend .spc-0;
    background-image: url($bg-head-img);
    background-position: bottom; 
    background-size: 100%;
    overflow: hidden;
  }
  .grd{
    @extend .spc-10;
    @extend .spc-t-0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.4) 100%);
  }
  h2{
    @extend .brd-sld;
    @extend .brd-2;
    @extend .inline;
    span {
      @extend .txt-12;
      @extend .bg-w;
      @extend .txt-b;
      @extend .spc-l-10;
      @extend .spc-r-10;
    }
  }
  p{
    @extend .txt-up;
  }
  li{
    @extend .txt-up;
    @extend .txt-16;
    @extend .clear;
    @extend .left;
    @extend .bg-dark3;
    @extend .op-8;
    @extend .spc-15;
    @extend .spc-t-30;
    @extend .txt-w;
    @extend .mrg-r-1;
    @extend .bt;
  }
}

footer{
  @extend .txt-right;
  @extend .font-m;
  @extend .txt-w;
  p{@extend .spc-t-10;}
  a{
    @extend .txt-up;
  }
  li{
    @extend .txt-up;
    @extend .txt-16;
    @extend .clear;
    @extend .left;
    @extend .bg-dark3;
    @extend .op-8;
    @extend .spc-10;
    @extend .spc-t-5;
    @extend .txt-w;
    @extend .mrg-r-1;
    @extend .bt;
  }
}

h2{
  @extend .txt-norm;
  @extend .txt-cap;
  @extend .mrg-0;
  @extend .spc-t-5;
  @extend .spc-b-5;
  @extend .spc-l-25;
  @extend .spc-r-25;
  @extend .txt-40;
}

p{
  font-size:65%;
  @extend .mrg-0;
  @extend .spc-3;
}

a{
  @extend .txt-w;
  @extend .txt-simple;
}