<header class="main">
  <div class="grd">
    <div class="spc-10">
        <p>
          {{=it.main.description}}
        </p>
        <div>
          <a href="{{=it.routes.main}}">
            <h2>
              {{=it.main.title}}
            </h2>
          </a>
          <a href="{{=it.routes.slot}}">
            <h2 class="spc-r-0">
              {{=it.slots.number-it.users.length}}
              <span>{{=it.slots.text}}</span>
            </h2>
          </a>
        </div>
    </div>
    <div class="clear">
      <ul class="inline">
        {{~it.links :link}}
        <a href="{{=link.link}}" target="_blank">
          <li>
            {{=link.name}}
          </li>
        </a>
        {{~}}
      </ul>
    </div>
	</div>
</header>



<div class="w-max sh-box-b-s1-l brd-xs-b brd-d-d bg-stickers clear">
  
</div>