<!DOCTYPE HTML>
<html>
	<head>
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{{=it.main.title}}</title>
		<meta name="description" content="{{=it.main.description}}">
		
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/{{=it.app.name}}.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		
	</head>
	<body>
	{{#def.loadMain('data')}}
	{{#def.loadAppView('bets', 'header')}}
	<div class="main">
		<aside class="col-2">
			{{#def.loadAppView('bets', 'left')}}
		</aside>
  	<main class="col-7">
			{{=it.body}}
  	</main>
  	<aside class="col-3 transportContainer">
  		{{#def.loadAppView('bets', 'right')}}
  	</aside>
  </div>
  {{#def.loadAppView('bets', 'footer')}}
 	</body>
 	
 	<script src="/js/main.js"></script>
	<script src="/js/{{=it.app.name}}.js"></script>
</html>