<a href="{{=it.routes.ladder}}">
  <header>
  	<h3>{{=it.left.title}}</h3>
  	<p>{{=it.left.description}}</p>
	</header>
</a>
<ul>
  {{~it.users :user}}
    {{?user.stats && user.stats.balance}}
    {{
      var balance = user.stats.balance.toFixed(2);
    }}
    <a href="{{=it.routes.user}}{{=user.name}}">
      <li>
        {{=user.name}}
        <span class="txt-12">[{{=user.stats.count}}]</span>
        <span class="right {{= balance > 0 ? 'txt-green' : 'txt-red'}}">{{= balance}} $</span>
      </li>
    </a>
    {{?}}
  {{~}}
</ul>