<div class="show">
  <a href="{{=it.routes.games}}">
    <header>
    	<h3>{{=it.right.title}}</h3>
    	<p>{{=it.right.description}}</p>
  	</header>
  </a>
  <ul>
    {{~it.finished :match}}
      <a href="{{=it.routes.match}}{{=match.matchId}}">
        <li class="clear">
          <section class="col-5 txt-right clear bb">
            <div class="{{= match.winner == 't1' ? 'txt-green' : match.winner == 't2' ? 'txt-red' : 'txt-w'}}">
              <span class="txt-12">{{=match.t1.rate}}</span>
              {{=match.t1.name}}
            </div>
          </section>
          <section class="col-2 txt-center txt-14">vs</section>
          <section class="col-5 txt-left clear bb">
            <div class="{{= match.winner == 't2' ? 'txt-green' : match.winner == 't1' ? 'txt-red' : 'txt-w'}}">
              {{=match.t2.name}}
              <span class="txt-12">{{=match.t2.rate}}</span>
            </div>
            
          </section>
        </li>
      </a>
    {{~}}
  </ul>
</div>