{{? bet.win == 't1'}}
  {{
    bet.pot = (bet.value * match.t1.cof).toFixed(2);
  }}
  <a href="{{=it.routes.user}}{{=bet.user}}">
    <div class="spc-5 bt mrg-1 bg-dark3 clear {{=bet.winner != bet.win ? 'op-7' : ''}}">
      <div class="col-5 clear txt-14 spc-t-3">
        {{? bet.winner == bet.win}}
          <div class="col-6 txt-right txt-w spc-r-5">{{=bet.value.toFixed(2)}}$</div>
          <div class="txt-green col-6 txt-left">(+{{=bet.pot}}$)</div>
        {{??}}
          {{? bet.winner && bet.winner != 'none'}}
            <div class="col-12 txt-red">-{{=bet.value.toFixed(2)}}$</div>
          {{??}}
            <div class="col-12">{{=bet.value.toFixed(2)}}$</div>
          {{?}}
        {{?}}
      </div>
      {{
        temp.textClass = bet.winner == bet.win ? 'txt-green' : '';
      }}
      <div class="col-2 {{= temp.textClass}}">
        <i class="fa fa-angle-double-left"></i>
      </div>
      <div class="col-5 txt-left">
        {{=bet.user}}
        {{? bet.user == "Etas"}}
          <i class="fa fa-exclamation-triangle"></i>
        {{?}}
      </div>
    </div>
  </a>
{{??}}
  {{
    bet.pot = (bet.value * match.t2.cof).toFixed(2);
  }}
  <a href="{{=it.routes.user}}{{=bet.user}}">
    <div class="spc-5 bt mrg-1 bg-dd clear {{=bet.winner != bet.win ? 'op-7' : ''}}">
      <div class="col-5 txt-right">
        {{=bet.user}}
        {{? bet.user == "Etas"}}
          <i class="fa fa-exclamation-triangle"></i>
        {{?}}
      </div>
      {{
        temp.textClass = bet.winner==bet.win ? 'txt-green' : '';
      }}
      <div class="col-2 {{= temp.textClass}}">
        <i class="fa fa-angle-double-right"></i>
      </div>
      <div class="col-5 clear txt-14 spc-t-3">
        {{? bet.winner == bet.win}}
          <div class="txt-green col-6 txt-right spc-l-5">(+{{=bet.pot}}$)</div>
          <div class="txt-w col-6 txt-left">{{=bet.value.toFixed(2)}}$</div>
        {{??}}
          {{? bet.winner && bet.winner != 'none'}}
            <div class="col-12 txt-red">-{{=bet.value.toFixed(2)}}$</div>
          {{??}}
            <div class="col-12">{{=bet.value.toFixed(2)}}$</div>
          {{?}}
        {{?}}
      </div>
    </div>
  </a>
{{?}}

