
<article>
  <a class="aHover" adata="a:show.inside" href="{{=it.routes.match}}{{=match.matchId}}/{{=match.t1.name}}.vs.{{=match.t2.name}}.{{=match.date}}">
  
    <h1 class="hidden">
      ({{=match.t1.rate}}){{=match.t1.name}} vs {{=match.t2.name}}({{=match.t2.rate}}) | {{=match.date}} | {{=match.games}}
    </h1>
    <div class="hide spc-3 bg-w op-7 txt-b absolute txt-12">
      <i class="fa fa-external-link"></i> <span>click to preview this match</span>
    </div>
    {{
      temp.status = match.winner ? 'finished' : 'canceled';
      temp.colorClass = temp.left>0 ? '' : 'txt-live';
    }}
    
    {{? match.type}} <div class="spc-l-10 txt-12 spc-r-10 bg-dark4 inline">{{=match.type}}</div> {{?}}
    {{? match.event}} <div class="spc-l-10 txt-12 spc-r-10 bg-dark3 inline">{{=match.event}}</div> {{?}}
    
    {{? match.maps}}
      {{#def.loadAppView('bets', 'page/_finished/match.maps', 'onePage')}}
    {{?}}
    
    <p class="games spc-t-10">
      <span class="spc-2">{{=match.games}}</span>
    </p>
    
    {{
      temp.textClass = match.winner ? 'txt-yellow' : 'txt-w';
    }}
    
    <h3 class="txt-up {{=temp.textClass}}">{{=temp.status}}</h3>
  </a>
  
  <div class="clear">
    <section>
      {{
        temp.textClass = match.winner == 't1' ? 'txt-green' : 'txt-w';
      }}
      <h4 class="{{= temp.textClass}} txt-right">
        {{=match.t1.rate}}
      </h4>
    </section>
    <section>
      {{
        temp.textClass = match.winner == 't2' ? 'txt-green' : 'txt-w';
      }}
      <h4 class="{{= temp.textClass}} txt-left">
        {{=match.t2.rate}}
      </h4>
    </section>
  </div>
  
  <div class="clear spc-b-5">
    <section class="spc-r-1">
      {{
        temp.grdColor = match.winner == 't1' ? '#8CD199' : '#ffffff';
      }}
      <div class="spc-1" style="background: linear-gradient(to left, {{= temp.grdColor}} 0%,transparent {{=match.t1.rate}},transparent 100%);"></div>
    </section>
    <section>
      {{
        temp.grdColor = match.winner == 't2' ? '#8CD199' : '#ffffff';
      }}
      <div class="spc-1" style="background: linear-gradient(to right, {{= temp.grdColor}} 0%,transparent {{=match.t2.rate}},transparent 100%);"></div>
    </section>
  </div>
  
  <section class="col-5 {{= match.winner=='t2' || !match.winner ? 'op-4' : ''}}">
    <a href="{{=it.routes.team}}{{=match.t1.name}}">
      <img class="w-max" src="{{=match.t1.img}}"/>
      <h3 class="spc-b-5 ">
        {{=match.t1.name}}
      </h3>
    </a>
    {{~ match.t1.players :player}}
      {{?player.name && player.id}}
        <a target="_blank" href="{{=it.routes.player}}{{=player.id}}&gameid=2">
          <div class="spc-1 bt bg-d mrg-1 txt-14">{{=player.name || player}}</div>
        </a>
      {{??}}
        <div class="spc-1 bg-d mrg-1 txt-14">{{=player.name || player}}</div>
      {{?}}
    {{~}}
  </section>
  <div class="col-2">
    <a class="aHover" adata="a:show.inside" href="/{{=match.t1.name}}/vs/{{=match.t2.name}}">
      <div class="bb spc-20 spc-l-0 spc-r-0 brd-sld brd-1 brd-dark2 txt-bold txt-up bt">
        vs
        <p class="hide bg-w txt-b spc-1 op-6">history</p>
      </div>
    </a>
  </div>
  <section class="col-5 {{= match.winner=='t1' || !match.winner ? 'op-4' : ''}}">
    <a href="{{=it.routes.team}}{{=match.t2.name}}">
      <img class="w-max" src="{{=match.t2.img}}"/>
      <h3 class="spc-b-5">
        {{=match.t2.name}}
      </h3>
    </a>
    {{~ match.t2.players :player}}
      {{?player.name && player.id}}
        <a target="_blank" href="http://www.hltv.org/?pageid=173&playerid={{=player.id}}&gameid=2">
          <div class="spc-1 bt bg-d mrg-1 txt-14">{{=player.name || player}}</div>
        </a>
      {{??}}
        <div class="spc-1 bg-d mrg-1 txt-14">{{=player.name || player}}</div>
      {{?}}
    {{~}}
  </section>
  
</article>
  