<div class="clear bg-dark3 mrg-1 txt-16">
  <ul>
    <a target="_blank" href="{{=it.routes.lounge}}{{=match.matchId}}">
      <li class="bg-dark1 txt-orange bt mrg-0 spc-10 right txt-up">
        CSGL
        <i class="fa fa-angle-double-right"></i>
      </li>
    </a>
    {{~ match.links :link}}
      {{? link.name != 'CSGL'}}
        <a target="_blank" href="{{=link.url}}">
          <li class="bg-dark1 bt mrg-0 spc-10 right txt-up mrg-r-1">
            {{=link.name}}
            <i class="fa fa-angle-double-right"></i>
          </li>
        </a>
      {{?}}
    {{~}}
    {{? match.live && match.stream && !match.finished}}
    <a target="_blank" href="{{=match.stream}}">
      <li class="bg-dark1 txt-live bt mrg-0 spc-10 left txt-up">
        <i class="fa fa-angle-double-left"></i>
        stream
      </li>
    </a>
    {{?}}
    {{? it.moder}}
      <a href="/m/{{=match.matchId}}/unfinished">
        <h3 class="bg-dark1 bt mrg-0 spc-10 txt-16 left txt-up mrg-r-1 txt-yellow">
          <i class="fa fa-undo"></i>
          unfinished
        </h3>
      </a>
    {{?}}
  </ul>
</div>