main page

<div id="first">
  <p>Key: <strong data-bind="text: key"></strong></p>
  <p>Value: <strong data-bind="text: value"></strong></p>
</div>
<div id="second">
  <h2>Hello, <span data-bind="text: fullName"> </span>!</h2>
</div>


<p>Key: <input data-bind="value: key" /></p>
<p>Value: <input data-bind="value: value" /></p>
<button data-bind="click: addPerson">Add</button>

<table class="txt-14 spc-25">
  <tbody>
    <tr data-bind="foreach : {data:keys, as:'key'}">
      <th class="spc-5 brd-sld brd-w txt-up" data-bind="text:key"></th>
    </tr>
    <!-- ko foreach : { data: users, as: 'u' } -->
    <tr data-bind="foreach : {data:$parent.keys, as:'k'}">
      <td class="spc-5 bg-w" data-bind="text : u[k]"></td>
    </tr>
    <!-- /ko -->
  </tbody>
</table>