<a href="{{=it.routes.match}}{{=match.matchId}}">
  <article>
    <p class="games">{{=match.games}}</p>
    
    {{
      temp.left = match.startMs-it.app.ms;
      temp.colorClass = temp.left>0 ? '' : 'txt-live';
    }}
    <h3 class="time-left txt-up {{=temp.colorClass}}">{{=temp.left}}</h3>
    
    <div class="clear">
      <section>
        {{
          temp.textClass = temp.t1High ? 'txt-green' : 'txt-red';
        }}
        <h4 class="{{= temp.textClass}} txt-right">
          {{=match.t1.rate}}
        </h4>
      </section>
      <section>
        {{
          temp.textClass = temp.t1High ? 'txt-red' : 'txt-green';
        }}
        <h4 class="{{= temp.textClass}} txt-left">
          {{=match.t2.rate}}
        </h4>
      </section>
    </div>
    
    <div class="clear spc-b-5">
      <section class="spc-r-1">
        {{
          temp.grdColor = temp.t1High ? '#8CD199' : '#ff6867';
        }}
        <div class="spc-1" style="background: linear-gradient(to left, {{= temp.grdColor}} 0%,transparent {{=match.t1.rate}},transparent 100%);"></div>
      </section>
      <section>
        {{
          temp.grdColor = temp.t1High ? '#ff6867' : '#8CD199';
        }}
        <div class="spc-1" style="background: linear-gradient(to right, {{= temp.grdColor}} 0%,transparent {{=match.t2.rate}},transparent 100%);"></div>
      </section>
    </div>
    
    <section class="col-5">
      <a href="{{=it.routes.team}}{{=match.t1.name}}">
        <img class="w-max" src="{{=match.t1.img}}"/>
        <h3>
          {{=match.t1.name}}
        </h3>
      </a>
    </section>
    <div class="col-2 bb spc-t-20 txt-bold txt-up">
      vs
    </div>
    <section class="col-5">
      <a href="{{=it.routes.team}}{{=match.t2.name}}">
        <img class="w-max" src="{{=match.t2.img}}"/>
        <h3>
          {{=match.t2.name}}
        </h3>
      </a>
    </section>
    
  </article>
</a>
  