{{? bet.win == 't1'}}
  {{
    bet.pot = (bet.value * match.t1.cof).toFixed(2);
  }}
  <a href="{{=it.routes.user}}{{=bet.user}}">
    <div class="spc-5 bt mrg-1 bg-dark3 clear">
      <div class="col-5 clear txt-14 spc-t-3">
        <div class="col-6 txt-right spc-r-5">{{=bet.value.toFixed(2)}}$</div>
        <div class="txt-yellow col-6 txt-left">({{=bet.pot}}$)</div>
      </div>
      {{
        temp.textClass = temp.t1High ? 'txt-green' : 'txt-red';
      }}
      <div class="col-2 {{= temp.textClass}}">
        <i class="fa fa-angle-double-left"></i>
      </div>
      <div class="col-5 txt-left">
        {{=bet.user}} 
      </div>
    </div>
  </a>
{{??}}
  {{
    bet.pot = (bet.value * match.t2.cof).toFixed(2);
  }}
  <a href="{{=it.routes.user}}{{=bet.user}}">
    <div class="spc-5 bt mrg-1 bg-dd clear">
      <div class="col-5 txt-right">
        {{=bet.user}}
      </div>
      {{
        temp.textClass = temp.t1High ? 'txt-red' : 'txt-green';
      }}
      <div class="col-2 {{= temp.textClass}}">
        <i class="fa fa-angle-double-right"></i>
      </div>
      <div class="col-5 clear txt-14 spc-t-3">
        <div class="txt-yellow col-6 txt-right">({{=bet.pot}}$)</div>
        <div class="col-6 txt-left spc-l-5">{{=bet.value.toFixed(2)}}$</div>
      </div>
    </div>
  </a>
{{?}}

