<footer>
    <ul class="inline left spc-l-20">
      {{~it.links :link}}
      <a href="{{=link.link}}" {{?!link.noblank}}target="_blank"{{?}}>
        <li class="spc-15">
          {{=link.name}}
        </li>
      </a>
      {{~}}
    </ul>
    <div class="bt right clear">
      <p class="right spc-20">{{=it.main.copyrights}}</p>
    </div>
</footer>