<header class="main">
  {{? it.announcements}}
    <div class="bg-dark1 txt-12 brd-sld brd-dark3 brd-0 brd-b-1 clear">
      {{~ it.announcements :announcement}}
        <div class="col-4 txt-right bg-dark2 txt-red txt-up spc-r-10">{{=announcement.title}}</div>
        <div class="col-8 txt-left spc-l-10">{{=announcement.content}}</div>
      {{~}}
    </div>
  {{?}}
  {{
    var temp = {};
    temp.number = Math.floor((Math.random() * it.phrases.length));
  }}
  <div class="grd">
    <nav class="clear page">
      <ul class="clear">
        {{~it.menu :link}}
        <a href="{{=link.link}}" {{?!link.noblank}}target="_blank"{{?}}>
          <li class="left aHover" aData="a:show.inside">
            {{=link.code ? link.code : link.name}}
            <span class="hide">{{=link.name ? link.name : ''}}</span>
          </li>
        </a>
        {{~}}
        
        
        {{? !it.profile}}
          <a href="{{=it.routes.login}}">
            <li class="bg-live right aHover" aData="a:show.inside">
              <i class="fa fa-steam"></i>
              <span class="hide">sign in via STEAM</span>
            </li>
          </a>
        {{??}}
          <a href="{{=it.routes.logout}}">
            <li class="bg-red right aHover" aData="a:show.inside">
              <i class="fa fa-power-off"></i>
              <span class="hide">logout</span>
            </li>
          </a>
          <!--<a href="{{=it.routes.settings}}">
            <li class="bg-yellow right aHover" aData="a:show.inside">
              <i class="fa fa-cog"></i>
              <span class="hide">settings</span>
            </li>
          </a>-->
          <a href="{{=it.routes.user}}{{=it.profile.user}}">
            <li class="right aHover" aData="a:show.inside">
              <i class="fa fa-user"></i>
              <span class="hide">profile</span>
            </li>
          </a>
          <a href="{{=it.routes.extension}}">
            <li class="right aHover" aData="a:show.inside">
              <i class="fa fa-puzzle-piece"></i>
              <span class="hide">extension</span>
            </li>
          </a>
          <a target="_blank" href="https://steamcommunity.com/id/Zarna/">
            <li class="right aHover txt-green" aData="a:show.inside">
              <i class="fa fa-question-circle"></i>
              <span class="hide">help?</span>
            </li>
          </a>
        {{?}}
        {{? false}}
          <a href="{{=it.routes.cash}}">
            <li class="right aHover" aData="a:show.inside">
              <i class="fa fa-usd txt-live spc-l-3 spc-r-3"></i>
              <span class="hide">cash out</span>
            </li>
          </a>
        {{?}}
      </ul>
    </nav>
    <div class="spc-b-10 spc-t-5">
      <div>
        <a href="{{=it.routes.main}}">
          <h2 class="spc-r-0 bt">
            {{=it.phrases[temp.number].text}}
            <span>
              {{=it.phrases[temp.number].user}}
            </span>
          </h2>
        </a>
      </div>
      <p>
        {{? it.unique}}
          visitors
          <span id="unique" class="spc-l-5 spc-r-5 bg-w txt-b op-8">{{=it.unique}}</span>
          requests
          <span id="requests" class="spc-l-5 spc-r-5 bg-b txt-w op-8">{{=it.requests}}</span>
        {{?}}
        {{=it.main.slogan}}
        {{? it.app.view == 'page/main'}}
          {{? it.profile && it.profile.disabled && it.profile.slot}}
            <span class="time-ago bg-live spc-l-5 spc-r-5">{{=it.profile.slot}}</span>
            you asked for slot {{=it.profile.name}}
          {{??}}
            <span class="spc-l-3">
              {{=it.slots.text}}
            </span>
            <span class="bg-live spc-l-3">
              {{=it.slots.number-(it.activeUsers.length+it.inactiveUsers.length)}}
            </span>
            {{? !it.profile || it.profile.disabled}}
              <a href="{{=it.routes.rules}}" class="bt spc-r-5">
                <span class="inline bg-w aHover txt-up txt-b spc-l-3 spc-l-10 spc-r-10 op-6" aData="a:show.inside">
                  <span>{{=it.slots.button}}</span>
                </span>
              </a>
            {{??}}
              <span class="spc-l-3">you are already in {{=it.profile.name}}</span>
            {{?}}
          {{?}}
        {{?}}
      </p>
    </div>
	</div>
</header>



<div class="w-max sh-box-b-s1-l brd-xs-b brd-d-d bg-stickers clear">
  
</div>