<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="icon" type="image/png" href="/ico/wdpwp.png" />
		<title>{{=it.subtitle}}{{=it.main.title}}</title>
		<meta name="description" content="{{=it.subdescription}}{{=it.main.description}}">
		<meta name="keywords" content="{{=it.main.keywords.toString()}}">
		<meta property="og:site_name" content="WDPWP.com">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/{{=it.app.name}}.min.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	</head>
	<body>
	{{? it.app.env == 'development' && false}}
		{{#def.loadMain('data')}}
	{{?}}
	{{#def.loadAppView('bets', 'header', 'onePage')}}
	<div class="body">
		<div class="page">
			{{=it.body}}
	  </div>
	</div>
  {{#def.loadAppView('bets', 'footer', 'onePage')}}
 	</body>
 	
 	<script src="/js/main.js"></script>
	<script src="/js/{{=it.app.name}}.js"></script>
</html>