<div class="spc-l-10 spc-r-10 transport">
  
  {{#def.loadAppView('bets', 'page/user/center/center.ladder', 'onePage')}}
  
  <div class="spc-t-15">
    
    <ul>
      {{~it.unfinished :match}}
        {{? match.bets[0] && match.bets[0].value}}
        <a href="{{=it.routes.match}}{{=match.matchId}}/{{=match.t1.name}}.vs.{{=match.t2.name}}.{{=match.date}}">
          <li class="clear">
            {{#def.loadAppView('bets', 'page/user/center/center.unfinished', 'onePage')}}
          </li>
        </a>
        {{?}}
      {{~}}
    </ul>
    
    {{#def.loadAppView('bets', 'page/user/center/center.newFinished', 'onePage')}}
  </div>
</div>