<table style="white-space: normal">
    <tr>
      <td class="pdg-tb-10px txt-center">
        <input
          ng-model="fieldName"
          class="flt-left dsp-block fnt-lg col-10 pdg-tb-5px pdg-rl-15px outline-none fix-bb brd-grey brd-r-0" 
          name="fieldName" 
          placeholder="Field name">
        <button 
          class="col-2 bg-greyl1 dsp-block flt-right brd-grey pdg-5px fix-bb fnt-lg outline-none hover-clr-white hover-bg-black">
            <i class="fa fa-plus"></i>
        </button>
      </td>
      <td class="pdg-tb-10px txt-center fix-clear">
        <input
          ng-model="fieldEntry"
          class="flt-left dsp-block fnt-lg col-10 pdg-tb-5px pdg-rl-15px outline-none fix-bb brd-grey brd-r-0" 
          name="fieldEntry" 
          placeholder="Field entry">
        <button 
          class="col-2 bg-greyl1 dsp-block flt-right brd-grey pdg-5px fix-bb fnt-lg outline-none hover-clr-white hover-bg-black"
          ng-click="postEntry()">
          <i class="fa fa-plus"></i>
        </button>
      </td>
    </tr>
    <tr>
      <th
        ng-click="sortField='field.name';reverse=!reverse;"
        class="col-6 bg-grey fnt-400 txt-up clr-white pdg-tb-10px hover-bg-greyd1 cursor-pointer">
        <i class="fa fa-sort-alpha-asc flt-left mrg-l-10px"></i>
        fields
      </th>
      <th class="col-6 bg-grey fnt-400 txt-up clr-white pdg-tb-10px">entries</th>
    </tr>
    
    <tr ng-show="loading">
      <td colspan="2" class="txt-center clr-greyd1 pdg-50px">
        <i class="fa fa-cog fa-fw fa-2x fa-spin"></i></br>
        <p>Loading data...</p>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="txt-center clr-white pdg-50px" ng-if="matches.length == 0">
        No Results Found...
      </td>
    </tr>
    
    <tr
      ng-repeat="(key, entry) in entries | filter:fieldName | orderBy:sortField:reverse" 
      ng-include="'../views/contentModify/entry.html'"></tr>
    
  </table>