<div class="td" style="white-space: normal">
  <h1 class="txt-center">
    {{title}}  <span ng-hide="!sectionSelected">/
    <i class="fa fa-times-circle hover-clr-red cursor-pointer clr-redl2"
      ng-click="sectionRemove()"></i>
    </span>
  </h1>
  <div>
    <input
      ng-model="sectionName"
      class="flt-left dsp-block fnt-lg col-10 pdg-tb-5px pdg-rl-15px outline-none fix-bb brd-grey brd-r-0" 
      name="sectionName"
      placeholder="Section name">
    <button 
      class="col-2 bg-greyl1 dsp-block flt-right brd-grey pdg-5px fix-bb fnt-lg outline-none hover-clr-white hover-bg-black"
      ng-click="sectionPost()">
        <i class="fa fa-plus"></i>
    </button>
  </div>
  <div>
    <textarea 
      class="pdg-10px fnt-lg w-100 mrg-t-10px fix-bb brd-grey outline-none"
      name="sectionDescription" 
      ng-model="sectionDescription" 
      placeholder="Section description (optional)"></textarea>
  </div>
  
  <div ng-hide="!sectionSelected" class="mrg-t-30px txt-center clr-white txt-up">
    <div class="pdg-10px bg-black col-4 flt-left fix-bb brd-blackl3">add new field</div>
    <div class="pdg-10px bg-black col-4 flt-left fix-bb brd-blackl3">add new section</div>
    <div class="pdg-10px bg-black col-4 flt-left fix-bb brd-blackl3">add new collection</div>
  </div>
</div>