<div class="pdg-50px" style="white-space: normal">
    <h1>Lets add some content</h1>
    <div class="mrg-t-30px txt-center clr-white txt-up">
      <a href="#/section/" class="pdg-10px hover-bg-blackl3 txt-deco-none clr-inherit bg-black col-4 flt-left fix-bb brd-blackl3">
        add new section
      </a>
      <a href="#/entry/" class="pdg-10px hover-bg-blackl3 txt-deco-none clr-inherit bg-black col-4 flt-left fix-bb brd-blackl3">
        add new entry
      </a>
      <div class="pdg-10px bg-black col-4 flt-left fix-bb brd-blackl3">add new collection</div>
    </div>
</div>