<div id="ladder" class="ladder {{= it.app.view == 'page/main' && it.unfinished.length ? 'hide' : 'show'}}">
  <ul>
    <header class="clear spc-5 txt-up txt-bold">
      <div class="col-3 txt-left spc-3">
        name
      </div>
      <div class="col-3 spc-3">
        last bet
      </div>
      <div class="col-3 spc-3">
        amount
      </div>
      <div class="col-3 txt-right spc-3">
        total
      </div>
    </header>
    {{~it.activeUsers :user}}
      {{?user.stats && user.stats.balance}}
        {{
          user.stats.balance = user.stats.balance.toFixed(2);
        }}
        <a href="{{=it.routes.user}}{{=user.user}}" class="aHover" aData="a:show.inside">
          <li class="clear spc-l-10">
            <div class="col-3 txt-left">
              {{=user.name.substr(0, 15)}} 
              {{? user.name == "Etas"}}
                <i class="fa fa-exclamation-triangle"></i>
              {{?}}
            </div>
            {{
              var temp = temp || {};
              temp.colorClass = user.stats.last > 0 ? 'txt-green' : 'txt-red';
            }}
            <div class="col-3 spc-1 txt-14">
              {{? it.app.ms - user.stats.updated  < 86400000}}
                <span class="{{= temp.colorClass}}">{{=user.stats.last}}$</span>
              {{??}}
                <span class="time-ago">{{=user.stats.updated}}</span>
                <span class="hide">
                  (<span class="{{=temp.colorClass}} hide">{{=user.stats.last}}$</span>)
                </span>
              {{?}}
            </div>
            <div class="col-3 txt-14">
              {{=user.stats.count}}
            </div>
            {{
              temp.colorClass = user.stats.balance > 0 ? 'txt-green' : 'txt-red';
            }}
            <div class="col-3 txt-right right {{= temp.colorClass}}">
              {{=user.stats.balance}}$
            </div>
          </li>
        </a>
      {{?}}
    {{~}}
    
    <div class="bg-dark4 txt-up spc-5 txt-14 mrg-1 txt-yellow"></div>
    {{~it.inactiveUsers :user}}
      {{?user.stats && user.stats.balance}}
        {{
          user.stats.balance = user.stats.balance.toFixed(2);
        }}
        <a href="{{=it.routes.user}}{{=user.user}}" class="aHover" aData="a:show.inside">
          <li class="clear spc-l-10">
            <div class="col-3 txt-left">
              {{=user.name}}
            </div>
            {{
              var temp = temp || {};
              temp.colorClass = user.stats.last > 0 ? 'txt-green' : 'txt-red';
            }}
            <div class="col-3 txt-14">
              <span class="hide">
                <span class="time-ago">{{=user.stats.updated}}</span>
                (<span class="{{=temp.colorClass}}">{{=user.stats.last}}$ </span>)
              </span>
              <span class="txt-w">-</span>
            </div>
            <div class="col-3 txt-14">
              {{=user.stats.count}}
            </div>
            {{
              var temp = temp || {};
              temp.colorClass = user.stats.balance > 0 ? 'txt-green' : 'txt-red';
            }}
            <div class="col-3 txt-right right {{= temp.colorClass}}">
              {{=user.stats.balance}}$
            </div>
          </li>
        </a>
      {{?}}
    {{~}}
    
    <div class="bg-dark4 txt-up spc-5 txt-14 mrg-1 txt-yellow"></div>
    {{~it.freshUsers :user}}
    
      <a href="{{=it.routes.user}}{{=user.user}}" class="aHover" aData="a:show.inside">
        <li class="clear spc-l-10">
          <div class="col-3 txt-left">
            {{=user.name}}
          </div>
          
          <div class="col-3 txt-14">
            <span class="hide">
              <span class="time-ago">{{=user.registered}}</span>
            </span>
            <span class="txt-w">-</span>
          </div>
          <div class="col-3 txt-14">
            -
          </div>
          <div class="col-3 txt-right right">
            -
          </div>
        </li>
      </a>
    {{~}}
  </ul>
</div>