{{~ it.unfinished :match:m}}
  {{
    temp.t1High = match.t1.rate && match.t2.rate && parseInt(match.t1.rate)>parseInt(match.t2.rate) ? true : false;
    temp.t1Bets = 0;
    temp.t2Bets = 0;
    temp.t2Value = 0;
    temp.t1Value = 0;
  }}
  <div id="{{=match.matchId}}" class="{{= !m ? 'show' : 'hide'}}">
      
      {{#def.loadAppView('bets', 'page/_unfinished/match.links', 'onePage')}}
      {{#def.loadAppView('bets', 'page/_unfinished/match.unfinished', 'onePage')}}
      <div class="bg-b1 brd-b1 brd-3 brd-sld">
        
        {{~ match.bets :bet}}
          {{
            if(bet.win == 't1'){
              temp.t1Bets++;
              temp.t1Value = temp.t1Value + bet.value;
            } else {
              temp.t2Bets++;
              temp.t2Value = temp.t2Value + bet.value;
            }
          }}
          {{? bet.value}}
            {{#def.loadAppView('bets', 'page/_unfinished/match.bet', 'onePage')}}
          {{?}}
        
        {{~}}
      </div>
      {{#def.loadAppView('bets', 'page/_unfinished/match.stats', 'onePage')}}
  </div>
{{~}}

{{? true}}
  {{~ it.finished :match:m}}
    {{
      var temp = temp || {};
      temp.t1High = match.t1.rate && match.t2.rate && parseInt(match.t1.rate)>parseInt(match.t2.rate) ? true : false;
      temp.t1Bets = 0;
      temp.t2Bets = 0;
      temp.t2Value = 0;
      temp.t1Value = 0;
    }}
    <div id="{{=match.matchId}}" class="hide">
        
        {{#def.loadAppView('bets', 'page/_finished/match.links', 'onePage')}}
        {{#def.loadAppView('bets', 'page/_finished/match.finished', 'onePage')}}
        <a href="{{=it.routes.match}}{{=match.matchId}}/{{=match.t1.name}}.vs.{{=match.t2.name}}.{{=match.date}}">
          <div class="bg-dark1 op-8 bt spc-10 txt-14 txt-up">
            
            To preview finished game bets press here
          </div>
        </a>
    </div>
  {{~}}
{{?}}